<div class="container-fluid" style="background: white">
    <div class="row">
        <div class="col-xs-12" style="padding-top: 15px">
            <h4>我的订单</h4>
        </div>
    </div>
    <div class="col-xs-12" style="font-size:13px;background:#fff;padding: 0px;">
        <form id="ordMaster" name="ordMaster">
            <div class="row hidden-xs" style="padding:20px 10px;">
                <div class="col-xs-12 col-sm-9 orderTitle" style="padding:0;">
                    <div class="row" style="padding:0;">
                        <a class="col-md-2 title pull-right" ng-style="setSelectedTabStyle(5)"
                           ng-click="selectByStatus(5);"
                           style="cursor: pointer"><span>已完成({{completedCount}})</span></a>
                        <a class="col-md-2 title pull-right" ng-style="setSelectedTabStyle(4)"
                           ng-click="selectByStatus(4);" style="cursor: pointer"><span>待收货({{waitReceiveCount}})</span></a>
                        <a class="col-md-2 title pull-right" ng-style="setSelectedTabStyle(3)"
                           ng-click="selectByStatus(3);" style="cursor: pointer"><span>待发货({{waitDeliveryCount}})</span></a>
                        <a class="col-md-2 title pull-right" ng-style="setSelectedTabStyle(2)"
                           ng-click="selectByStatus(2);" style="cursor: pointer"><span>待付款({{waitPayCount}})</span></a>
                        <a class="col-md-2 title pull-right" ng-style="setSelectedTabStyle(1)"
                           ng-click="selectByStatus(1);" style="cursor: pointer"><span>全部订单</span></a>
                    </div>
                </div>
            </div>

            <div class="row visible-xs" style="padding:20px 10px;font-size:12px;">
                <div class="col-xs-12 col-sm-12 orderTitle" style="padding:0;">
                    <div class="row" style="padding:0;">
                        <a class="col-xs-3 col-sm-3 title" ng-style="setSelectedTabStyle(1)"
                           ng-click="selectPhoneByStatus(1);" style="text-align: center;cursor: pointer">
                            <span>全部订单</span>
                        </a>
                        <a class="col-xs-3 col-sm-3 title" ng-style="setSelectedTabStyle(2)"
                           ng-click="selectPhoneByStatus(2);" style="text-align: center;cursor: pointer">
                            <div>
                                <span>待付款</span>
                                <span>({{waitPayCount}})</span>
                            </div>
                        </a>
                        <a class="col-xs-3 col-sm-3 title" ng-style="setSelectedTabStyle(3)"
                           ng-click="selectPhoneByStatus(3);" style="text-align: center;cursor: pointer">
                            <div>
                                <span>待发货</span>
                                <span>({{waitDeliveryCount}})</span>
                            </div>
                        </a>
                        <a class="col-xs-3 col-sm-3 title" ng-style="setSelectedTabStyle(4)"
                           ng-click="selectPhoneByStatus(4);" style="text-align: center;cursor: pointer">
                            <div>
                                <span>待收货</span>
                                <span>({{waitReceiveCount}})</span>
                            </div>
                        </a>
                        <!--<a class="col-xs-3 col-sm-3 title" ng-style="setSelectedTabStyle(5)" ng-click="selectPhoneByStatus(4);" style="text-align: center;cursor: pointer">-->
                        <!--<div>-->
                        <!--<span>已完成</span>-->
                        <!--&lt;!&ndash;<span>({{completedCount}})</span>&ndash;&gt;-->
                        <!--</div>-->
                        <!--</a>-->

                    </div>
                </div>
            </div>

            <div class="hidden-xs orderList" style="padding:0 10px;">
                <div ng-repeat="order in orderList" style="font-size:12px;">
                    <div class="panel panel-default" style="font-size: 12px;border-radius: 0px;">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-4">
                                    <span style="height: 30px;line-height: 30px">订单编号：{{order.orderCode}}</span>
                                </div>
                                <div class="col-xs-8">
                                    <button class="btn btn-default btn-md hvr-outline-out-dark  pull-right"
                                            style="margin-left: 4px;"
                                            ng-click="orderDetail(order.orderId);">
                                        查看详情
                                    </button>

                                    <!-- 10.订单未完成 and (10.未付款 or 21.付款失败) -->
                                    <button ng-if="order.orderStatus == 10 && (order.payStatus == 10 || order.payStatus == 21)"
                                            class="btn btn-default btn-md pull-right"
                                            style="margin-left: 4px;"
                                            ng-click="cancelOrder(order.orderId);">
                                        取消订单
                                    </button>

                                    <button ng-if="order.orderStatus == 10 && (order.payStatus == 10 || order.payStatus == 21)"
                                            class="btn btn-default btn-md pull-right"
                                            style="margin-left: 4px;"
                                            ng-click="doPay(order.orderId,order.orderCode,order.payInfact)">
                                        付款
                                    </button>

                                    <button ng-if="order.orderStatus == 10  && order.deliverStatus == 10 && order.payStatus == 20"
                                            class="btn btn-default btn-md pull-right"
                                            style="margin-left: 4px;"
                                            ng-click="applyRefund(order.orderId)">
                                        申请退款
                                    </button>

                                    <!-- 10.订单未完成 and 20.付款成功 and 20.全部发货 -->
                                    <button ng-if="(order.orderStatus == 10 || order.orderStatus == 23) && order.deliverStatus == 20 && order.payStatus == 20"
                                            class="btn btn-default btn-md pull-right"
                                            style="margin-left: 4px;"
                                            ng-click="confirmReceiptInMaster(order.orderId);">
                                        确认收货
                                    </button>

                                    <button ng-if="(order.orderStatus == 10 || order.orderStatus == 23) && order.deliverStatus == 21 && order.payStatus == 20"
                                            class="btn btn-default btn-md pull-right"
                                            style="margin-left: 4px;" ng-click="refunds(order);">
                                        申请退货
                                    </button>
                                    <!-- 90.订单完成 or 11.订单取消-->
                                    <button ng-if="order.tradeStatus == 20 || order.tradeStatus == 30"
                                            class="btn btn-default btn-md pull-right"
                                            style="margin-left: 4px;"
                                            ng-click="deleteOrder(order.orderId);">
                                        删除订单
                                    </button>
                                </div>
                            </div>
                        </div>

                        <table class="table table-condensed ">
                            <tr ng-repeat="sku in order.ordList">
                                <td style="text-align: left;width: 50%;border-bottom: 1px lightgray solid !important;"
                                    ng-click="goGoodsDetail(sku.goodsId)">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <img class="img-responsive center-left"
                                                 src="{{sku.imageUrlJson | imgPath:'480'}}">
                                        </div>
                                        <div style="color:#333;" class="col-xs-9">{{sku.goodsName}}</div>
                                    </div>

                                </td>
                                <td style="text-align: center;width: 8%;border-bottom: 1px lightgray solid !important;">
                                    ×{{sku.quantity}}
                                </td>
                                <td style="border-bottom: 1px lightgray solid !important;">
                                    <div>
                                        <div ng-if="sku.priceDiscount == null" style="font-weight:bold;">
                                            {{sku.price |
                                            currency : '￥'}}
                                        </div>
                                        <div ng-if="sku.priceDiscount != null" style="font-weight:bold;">
                                            {{sku.priceDiscount
                                            | currency : '￥'}}
                                        </div>
                                        <div ng-if="sku.priceDiscount != null"
                                             style="color:#999999;text-decoration:line-through">
                                            {{sku.price | currency : '￥'}}
                                        </div>
                                    </div>
                                </td>

                                <td style="border-left: 1px solid lightgray !important;width: 15%;border-bottom: 1px lightgray solid !important;"
                                    ng-if="$index == 0" rowspan="{{order.ordList.length}}">
                                    <div>{{order.orderStatusName}}</div>
                                    <div><a ng-if="order.payStatusCode == 20"
                                            ng-click="goLogisticsList(order.orderId)">查看物流</a></div>

                                </td>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    <div style="float: left;color: #999999">下单时间：{{order.insertTime |
                                        date:'yyyy-MM-dd HH:mm:ss'}}
                                    </div>
                                    <div style="float: right">总计：¥{{order.payInfact}}</div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="pager" id="pic_page"></div>
            </div>
            <div class="visible-xs orderList-xs">
                <table class="table table-condensed inner-table" style="font-size:13px"
                       ng-repeat="order in orderPhoneList">
                    <tr>
                        <td>
                            <div class="panel panel-default" style="font-size: 12px;">
                                <!-- Default panel contents -->
                                <div class="panel-heading">
                                    <div class="row" style="text-align: left;">
                                        <span style="margin-left: 5px;">订单编号:{{order.orderCode}}</span>
                                        <span style="color: red;float: right;margin-right: 10px">{{order.orderStatusName}}</span>
                                    </div>
                                </div>

                                <!-- Table -->
                                <table class="table">
                                    <tbody>
                                    <tr style="border-bottom: 1px lightgray solid !important;"
                                        ng-repeat="sku in order.ordList" ng-click="goGoodsDetail(sku.goodsId)">
                                        <td>
                                            <div class="row">
                                                <div class="col-xs-4">
                                                    <img class="img-responsive center-left"
                                                         src="{{sku.imageUrlJson | imgPath:'480'}}">
                                                </div>
                                                <div class="col-xs-8">
                                                    <div style="text-align: left;"><span
                                                            style="overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;">{{sku.goodsName}}</span>
                                                    </div>
                                                    <div style="text-align: left;">
                                                        <span style="color:gray;">数量:x{{sku.quantity}}</span>
                                                    </div>
                                                    <div style="text-align: left;">
                                                        <div ng-if="sku.priceDiscount == null"
                                                             style="font-weight:bold;font-size: 14px">{{sku.price |
                                                            currency : '￥'}}
                                                        </div>
                                                        <div ng-if="sku.priceDiscount != null"
                                                             style="font-weight:bold;font-size: 14px">
                                                            {{sku.priceDiscount
                                                            | currency : '￥'}}
                                                        </div>
                                                        <div ng-if="sku.priceDiscount != null"
                                                             style="color:#999999;text-decoration:line-through;font-size: 13px">
                                                            {{sku.price | currency : '￥'}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr style="border-bottom: 1px lightgray solid !important;">
                                        <td>
                                            <div style="float: left;color: #999999">{{order.insertTime |
                                                date:'yyyy-MM-dd HH:mm:ss'}}
                                            </div>
                                            <div style="float: right">总计：¥{{order.payInfact}}</div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <button class="btn btn-default btn-md hvr-outline-out-dark  pull-right"
                                                            style="margin-left: 4px;"
                                                            ng-click="orderDetail(order.orderId);">
                                                        查看详情
                                                    </button>

                                                    <!-- 10.订单未完成 and (10.未付款 or 21.付款失败) -->
                                                    <button ng-if="order.orderStatus == 10 && (order.payStatus == 10 || order.payStatus == 21)"
                                                            class="btn btn-default btn-md pull-right"
                                                            style="margin-left: 4px;"
                                                            ng-click="cancelOrder(order.orderId);">
                                                        取消订单
                                                    </button>

                                                    <button ng-if="order.orderStatus == 10 && (order.payStatus == 10 || order.payStatus == 21)"
                                                            class="btn btn-default btn-md pull-right"
                                                            style="margin-left: 4px;"
                                                            ng-click="doPay(order.orderId,order.orderCode,order.payInfact)">
                                                        付款
                                                    </button>

                                                    <button ng-if="order.orderStatus == 10 && order.deliverStatus == 10 && order.payStatus == 20"
                                                            class="btn btn-default btn-md pull-right"
                                                            style="margin-left: 4px;"
                                                            ng-click="applyRefund(order.orderId)">
                                                        申请退款
                                                    </button>

                                                    <!-- 10.订单未完成 and 20.付款成功 and 20.全部发货 -->
                                                    <button ng-if="(order.orderStatus == 10 || order.orderStatus == 23) && order.deliverStatus == 20 && order.payStatus == 20"
                                                            class="btn btn-default btn-md pull-right"
                                                            style="margin-left: 4px;"
                                                            ng-click="confirmReceiptInMaster(order.orderId);">
                                                        确认收货
                                                    </button>

                                                    <button ng-if="(order.orderStatus == 10 || order.orderStatus == 23) && order.deliverStatus == 21 && order.payStatus == 20"
                                                            class="btn btn-default btn-md pull-right"
                                                            style="margin-left: 4px;" ng-click="refunds(order);">
                                                        申请退货
                                                    </button>
                                                    <!-- 90.订单完成 or 11.订单取消-->
                                                    <button ng-if="order.tradeStatus == 20 || order.tradeStatus == 30"
                                                            class="btn btn-default btn-md pull-right"
                                                            style="margin-left: 4px;"
                                                            ng-click="deleteOrder(order.orderId);">
                                                        删除订单
                                                    </button>
                                                </div>
                                            </div>
                                        </td>

                                    </tr>
                                    </tbody>

                                </table>
                            </div>
                        </td>
                    </tr>


                </table>

                <div>
                    <div ng-if="isPhoneLoading" style="text-align: center;margin: 10px 0px">
                        <img src="css/images/loading.gif" style="width: 30px;height: 30px">
                    </div>
                    <div ng-if="!isPhoneLoading&&orderPhoneList.length==0" style="text-align: center;margin: 10px 0px">
                        没有相关数据
                    </div>
                    <button ng-if="!isPhoneLoading&&hasMore" class="btn btn-default btn-block hvr-outline-out-dark"
                            ng-click="doGetMore()">加载更多
                    </button>
                </div>
            </div>
            <input type="text" id="orderId" name="orderId" hidden>
            <input type="text" id="signcode" name="signcode" hidden>

            <input type="text" id="operate" name="operate" hidden>
            <input type="text" id="storeid" name="storeid" hidden>
            <input type="text" id="storesubid" name="storesubid" hidden>
        </form>
    </div>
</div>
<script src="./javascript/logic/orderlist.js"></script>