<!--搜索弹窗-->
<ion-popover-view style="width: 97%;height: 150px;">
    <ion-content style="color: #333333" overflow-scroll="false">
        <div style="padding:5px 10px 0 10px">
            <div style="text-align:center;margin-top:10px;color:#5f8ebd;font-size:20px;">采购指标</div>
            <div class="row row-center" style="padding:6px 5px;height:42px;">
                <div class="col col-20 col-center" style="text-align:center;">
                    <span style="display:inline-block;font-size:16px;margin-top:2px;">发热量</span>
                </div>
                <div class="col col-20 col-center" style="text-align:center;">
                    <span style="display:inline-block;font-size:16px;margin-top:2px;">全水份</span>
                </div>
                <div class="col col-20 col-center" style="text-align:center;">
                    <span style="display:inline-block;font-size:16px;margin-top:2px;">灰份</span>
                </div>
                <div class="col col-20 col-center" style="text-align:center;">
                    <span style="display:inline-block;font-size:16px;margin-top:2px;">全硫份</span>
                </div>
                <div class="col col-20 col-center" style="text-align:center;">
                    <span style="display:inline-block;font-size:16px;margin-top:2px;">挥发份</span>
                </div>
            </div>
            <div class="row row-center" style="padding:6px 5px;height:42px;border-bottom:1px solid #efefef;">
                <div class="col col-20 col-center" style="text-align:center;">
                    <span style="display:inline-block;font-size:16px;margin-top:2px;">5800</span>
                </div>
                <div class="col col-20 col-center" style="text-align:center;">
                    <span style="display:inline-block;font-size:16px;margin-top:2px;">13.00</span>
                </div>
                <div class="col col-20 col-center" style="text-align:center;">
                    <span style="display:inline-block;font-size:16px;margin-top:2px;">16.00</span>
                </div>
                <div class="col col-20 col-center" style="text-align:center;">
                    <span style="display:inline-block;font-size:16px;margin-top:2px;">1.00</span>
                </div>
                <div class="col col-20 col-center" style="text-align:center;">
                    <span style="display:inline-block;font-size:16px;margin-top:2px;">30.00</span>
                </div>
            </div>
        </div>
    </ion-content>
</ion-popover-view>