<ion-view>
    <!--<ion-header-bar align-title="center" class="bar-light" style="border-bottom: 1px solid #CCCCCC;">-->
        <!--<button class="button no-animation button-icon icon ion-android-search"></button>-->
        <!--<div class="h1 title" style="font-size:24px;">关于我们</div>-->
    <!--</ion-header-bar>-->
    <ion-content class='bg-light'>
        <div class="row" style="margin-top:15px;padding:0">
            <div class="col col-10"></div>
            <div class="col">
                <img src="./image/about.png" width=90% class='img-responsive'>
            </div>
            <div class="col col-10"></div>
        </div>
        <div style="margin:20px 10px;">
            {{aboutInfo.describe}}
        </div>
    </ion-content>
</ion-view>
