<ion-tabs  class=" tabs-icon-top tabs-dark">
    <ion-tab title="首页" icon-on="qyds-icon-home" icon-off="qyds-icon-home-outline" ui-sref="homePageTab.homePage">
        <ion-nav-view cache-view="false" animation="slide-left-right" name="tab-homePage"></ion-nav-view>
    </ion-tab>
    <ion-tab title="分类" icon-on="qyds-icon-category" icon-off="qyds-icon-category-outline" ui-sref="homePageTab.classification">
        <ion-nav-view animation="slide-left-right" name="tab-classification"></ion-nav-view>
    </ion-tab>
    <ion-tab title="购物袋" icon-on="qyds-icon-shopcart" icon-off="qyds-icon-shopcart-outline" ui-sref="homePageTab.bag">
        <ion-nav-view animation="slide-left-right" name="tab-bag"></ion-nav-view>
    </ion-tab>
    <ion-tab title="个人中心" icon-on="qyds-icon-personal" icon-off="qyds-icon-personal-outline"  ui-sref="homePageTab.personalCenter">
        <ion-nav-view animation="slide-left-right" name="tab-personalCenter"></ion-nav-view>
    </ion-tab>
</ion-tabs>