<ion-tabs class="tabs-top tabs-light">
    <ion-tab title="全部"  ui-sref="orderTab.allOrder">
        <ion-nav-view animation="slide-left-right" name="tab-allOrder"></ion-nav-view>
    </ion-tab>
    <ion-tab title="待付款" ui-sref="orderTab.waitForPay">
        <ion-nav-view animation="slide-left-right" name="tab-waitForPay"></ion-nav-view>
    </ion-tab>
    <ion-tab title="未发货" ui-sref="orderTab.waitForSend">
        <ion-nav-view animation="slide-left-right" name="tab-waitForSend"></ion-nav-view>
    </ion-tab>
    <ion-tab title="待收货" ui-sref="orderTab.waitForReceive">
        <ion-nav-view animation="slide-left-right" name="tab-waitForReceive"></ion-nav-view>
    </ion-tab>
    <ion-tab title="已完成" ui-sref="orderTab.finished">
        <ion-nav-view animation="slide-left-right" name="tab-finished"></ion-nav-view>
    </ion-tab>
</ion-tabs>
