<ion-view>
    <!--<ion-header-bar align-title="center" class="bar-light" style="border-bottom: 1px solid #CCCCCC;">-->
    <!--<div class="h1 title" style="font-size:24px;">注册</div>-->
    <!--<button class="button no-animation button-icon icon ion-close-round" ng-click="goBack()"></button>-->
    <!--</ion-header-bar>-->
    <ion-content>
        <div style="padding: 15px;line-height: 1.4">
            <div style="text-align: center;font-size: 20px">法律条款</div>
            <div style="font-size: 14px;font-weight: bold">隐私政策</div>
            <div>
                <p>简介</p><br>
                <p>当您使用我们的服务时，dealuna会确保您的隐私受到保护。为此，我们制定了政策，并规定了应如何处理并保护您的个人数据。有关本《隐私政策》的任何变动，请访问我们的网站进行了解。</p><br>
                <p>本《隐私政策》仅针对使用 dealuna网上服务的客户及用户。如果您正在申请 dealuna职位，则本《隐私政策》不适用。有关申请者的隐私政策，请访问我们的招聘网站。</p><br>
                <p>谁需为您的个人信息数据负责？ </p><br>
                <p>辽宁千业商贸有限公司是您向我们所提交数据的控制者，并根据适用的国家数据保护法律对您的个人数据负责。</p><br>
                <p>我们收集哪些个人数据？ </p><br>
                <p>我们会收集您在下订单、联系我们的客户服务、参加活动等情况下向我们提交的个人数据，此类数据可能包括联系信息、出生日期、付款信息等。此外，我们还可能从外部收集信用信息、地址更新等部分个人数据。</p><br>
                <p>我们如何使用您的个人数据？ </p><br>
                <p>我们可能将您的个人数据用于以下目的：</p><br>
                <p>• 在 dealuna创建并管理您的个人账户</p><br>
                <p>• 通过在线服务处理您的订单及退货</p><br>
                <p>• 发送有关投递状态的信息通知</p><br>
                <p>• 在您的单品投递过程中发生问题时与您进行联系</p><br>
                <p>• 为您解答疑问，并通知您有关新服务或变更服务的信息</p><br>
                <p>• 发送新闻、产品目录等市场活动信息</p><br>
                <p>• 通知网络比赛活动获胜者</p><br>
                <p>• 通过信用审核管理您的账户</p><br>
                <p>• 进行分析，以便为您提供相关市场活动和信息</p><br>
                <p>• 确认您符合网上购物的法定年龄</p><br>
                <p>• 向您发送问卷调查，以便您为我们的产品和服务提供建议</p><br>
                <p>• 测试并完善我们的服务系统</p><br>
                <p>• 防止滥用或不当使用我们的服务</p><br>
                <p>• 计算您作为俱乐部成员所获得的俱乐部积分</p><br>
                <p>• 在门店内为您提供 WiFi 服务</p><br>
                <p>为了达成上述目的或符合法律规定，我们将根据需要决定您的数据储存时长。在此之后，您的个人数据将被删除。</p><br>
                <p>您拥有哪些权利？ </p><br>
                <p>无论何时，您有权向请求查看我们所保留的、关于您的信息（每年可免费查看一次）。如果您的数据有误、不完整或不相关，您可要求更正或移除信息。如有法定储存规定（如记账规定）或其他可保留数据的合法条件（如存在未清债务），我们将无法移除您的数据。您可随时取消对我们使用该数据进行营销的认可。您可通过向我们写信（大连市中山区人民路35号纺织大厦
                    dealuna 客户服务中心 ），或发送电子邮件（contact-us@dealuna.com）联系我们。</p><br>
                <p>谁可访问您的个人数据？ </p><br>
                <p>您的数据可能在本公司内共享。我们绝不会为了营销而将您的数据传输、出售或交换至本公司以外的第三方。转发至第三方的数据仅用于为您提供上述服务，如涉及商品物流的送货代理商、发送新闻的媒体公司、核实信用等级、身份和债款收回等情况的信用调查及债款收回公司。</p><br>
                <p>我们如何保护您的个人数据？ </p><br>
                <p>我们已采取技术和组织措施来保护您的数据免受遗失、操纵和未经授权访问。我们不断根据技术进步和发展情况调整安全措施。当您完成订单并确认付款后，我们会带您前往相关的相关付款合作伙伴，以便您在那里输入相关付款信息。所有在跳转后地方输入的信息均被加密。这意味着信息通过安全连接传输，您的个人数据不会被外部各方读取。当您确认付款后，我们有权开展身份核实。</p><br>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar class="bar-light">
        <div style="width:100%;">
            <button class="button button-block button-dark" style="font-size:14px;margin: 0"
                    ng-click="back()">
                返回注册
            </button>
        </div>
    </ion-footer-bar>
</ion-view>
