<ion-list>
    <ion-item ng-click="testGoLogin()">
        <h2>登录</h2>
    </ion-item>
    <ion-item ng-click="testGoRegister()">
        <h2>注册</h2>
    </ion-item>
    <ion-item ng-click="testGoBag()">
        <h2>购物袋</h2>
    </ion-item>
    <ion-item ng-click="testGoConfirm()">
        <h2>确认订单</h2>
    </ion-item>
    <ion-item ng-click="testGoAddress()">
        <h2>地址管理</h2>
    </ion-item>
    <ion-item ng-click="testGoSearchGoods()">
        <h2>搜索</h2>
    </ion-item>
    <ion-item ng-click="testGoAbout()">
        <h2>关于我们</h2>
    </ion-item>
    <ion-item ng-click="testGoPersonal()">
        <h2>我的信息</h2>
    </ion-item>
    <ion-item ng-click="testGoGoodsList()">
        <h2>商品列表</h2>
    </ion-item>
    <ion-item ng-click="testGoCouponList()">
        <h2>我的优惠券</h2>
    </ion-item>
    <ion-item ng-click="testGoAddAddress()">
        <h2>新增收货地址</h2>
    </ion-item>
    <ion-item ng-click="testGoFavorite()">
        <h2>我的心愿单</h2>
    </ion-item>
    <ion-item ng-click="testGoPersonalCenter()">
        <h2>个人中心</h2>
    </ion-item>
    <ion-item ng-click="testGohomePage()">
        <h2>首页</h2>
    </ion-item>
    <ion-item ng-click="testGoOrder()">
        <h2>订单</h2>
    </ion-item>
    <ion-item ng-click="testGoGoodsDetail()">
        <h2>商品详情</h2>
    </ion-item>
</ion-list>