<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.dlyt.qyds.dao.ActMasterMapper" >
  <resultMap id="BaseResultMap" type="net.dlyt.qyds.common.dto.ActMaster" >
    <id column="activity_id" property="activityId" jdbcType="VARCHAR" />
    <result column="shop_id" property="shopId" jdbcType="VARCHAR" />
    <result column="temp_id" property="tempId" jdbcType="VARCHAR" />
    <result column="temp_name" property="tempName" jdbcType="VARCHAR" />
    <result column="activity_code" property="activityCode" jdbcType="VARCHAR" />
    <result column="comment" property="comment" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="VARCHAR" />
    <result column="additional_discount" property="additionalDiscount" jdbcType="VARCHAR" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="unit" property="unit" jdbcType="VARCHAR" />
    <result column="goods_type" property="goodsType" jdbcType="VARCHAR" />
    <result column="member_type" property="memberType" jdbcType="VARCHAR" />
    <result column="is_origin_price" property="isOriginPrice" jdbcType="VARCHAR" />
    <result column="has_sub_activity" property="hasSubActivity" jdbcType="VARCHAR" />
    <result column="can_return" property="canReturn" jdbcType="VARCHAR" />
    <result column="can_exchange" property="canExchange" jdbcType="VARCHAR" />
    <result column="limit_count" property="limitCount" jdbcType="VARCHAR" />
    <result column="apply_user_id" property="applyUserId" jdbcType="VARCHAR" />
    <result column="apply_time" property="applyTime" jdbcType="TIMESTAMP" />
    <result column="apply_content" property="applyContent" jdbcType="VARCHAR" />
    <result column="approve_user_id" property="approveUserId" jdbcType="VARCHAR" />
    <result column="approve_time" property="approveTime" jdbcType="TIMESTAMP" />
    <result column="approve_content" property="approveContent" jdbcType="VARCHAR" />
    <result column="approve_status" property="approveStatus" jdbcType="VARCHAR" />
    <result column="deleted" property="deleted" jdbcType="VARCHAR" />
    <result column="update_user_id" property="updateUserId" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="insert_user_id" property="insertUserId" jdbcType="VARCHAR" />
    <result column="insert_time" property="insertTime" jdbcType="TIMESTAMP" />
    <result column="activity_name" property="activityName" jdbcType="VARCHAR" />
    <result column="is_member_activity" property="isMemberActivity" jdbcType="VARCHAR" />
    <result column="need_point" property="needPoint" jdbcType="INTEGER" />
    <result column="need_fee" property="needFee" jdbcType="NUMERIC" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="show_front" property="showFront" jdbcType="INTEGER" />
    <result column="is_valid" property="isValid" jdbcType="CHAR" />
    <result column="goods_type_value" property="goodsTypeValue" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    activity_id, shop_id, temp_id, temp_name, activity_code, comment, level, additional_discount, 
    start_time, end_time, unit, goods_type, member_type, is_origin_price, has_sub_activity, 
    can_return, can_exchange, limit_count, apply_user_id, apply_time, apply_content, 
    approve_user_id, approve_time, approve_content, approve_status, deleted, update_user_id, 
    update_time, insert_user_id, insert_time, activity_name, is_member_activity, need_point, 
    need_fee, sort,show_front, is_valid, goods_type_value
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from public.act_master
    where activity_id = #{activityId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from public.act_master
    where activity_id = #{activityId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="net.dlyt.qyds.common.dto.ActMaster" >
    insert into public.act_master (activity_id, shop_id, temp_id, 
      temp_name, activity_code, comment, 
      level, additional_discount, start_time, 
      end_time, unit, goods_type, 
      member_type, is_origin_price, has_sub_activity, 
      can_return, can_exchange, limit_count, 
      apply_user_id, apply_time, apply_content, 
      approve_user_id, approve_time, approve_content, 
      approve_status, deleted, update_user_id, 
      update_time, insert_user_id, insert_time, 
      activity_name, is_member_activity, need_point, 
      need_fee, sort,show_front, is_valid,
      goods_type_value)
    values (#{activityId,jdbcType=VARCHAR}, #{shopId,jdbcType=VARCHAR}, #{tempId,jdbcType=VARCHAR}, 
      #{tempName,jdbcType=VARCHAR}, #{activityCode,jdbcType=VARCHAR}, #{comment,jdbcType=VARCHAR}, 
      #{level,jdbcType=VARCHAR}, #{additionalDiscount,jdbcType=VARCHAR}, #{startTime,jdbcType=TIMESTAMP}, 
      #{endTime,jdbcType=TIMESTAMP}, #{unit,jdbcType=VARCHAR}, #{goodsType,jdbcType=VARCHAR}, 
      #{memberType,jdbcType=VARCHAR}, #{isOriginPrice,jdbcType=VARCHAR}, #{hasSubActivity,jdbcType=VARCHAR}, 
      #{canReturn,jdbcType=VARCHAR}, #{canExchange,jdbcType=VARCHAR}, #{limitCount,jdbcType=VARCHAR}, 
      #{applyUserId,jdbcType=VARCHAR}, #{applyTime,jdbcType=TIMESTAMP}, #{applyContent,jdbcType=VARCHAR}, 
      #{approveUserId,jdbcType=VARCHAR}, #{approveTime,jdbcType=TIMESTAMP}, #{approveContent,jdbcType=VARCHAR}, 
      #{approveStatus,jdbcType=VARCHAR}, #{deleted,jdbcType=VARCHAR}, #{updateUserId,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{insertUserId,jdbcType=VARCHAR}, #{insertTime,jdbcType=TIMESTAMP}, 
      #{activityName,jdbcType=VARCHAR}, #{isMemberActivity,jdbcType=VARCHAR}, #{needPoint,jdbcType=INTEGER}, 
      #{needFee,jdbcType=NUMERIC}, #{sort,jdbcType=INTEGER}, #{showFront,jdbcType=INTEGER}, #{isValid,jdbcType=CHAR},
      #{goodsTypeValue,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="net.dlyt.qyds.common.dto.ActMaster" >
    insert into public.act_master
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="activityId != null" >
        activity_id,
      </if>
      <if test="shopId != null" >
        shop_id,
      </if>
      <if test="tempId != null" >
        temp_id,
      </if>
      <if test="tempName != null" >
        temp_name,
      </if>
      <if test="activityCode != null" >
        activity_code,
      </if>
      <if test="comment != null" >
        comment,
      </if>
      <if test="level != null" >
        level,
      </if>
      <if test="additionalDiscount != null" >
        additional_discount,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="unit != null" >
        unit,
      </if>
      <if test="goodsType != null" >
        goods_type,
      </if>
      <if test="memberType != null" >
        member_type,
      </if>
      <if test="isOriginPrice != null" >
        is_origin_price,
      </if>
      <if test="hasSubActivity != null" >
        has_sub_activity,
      </if>
      <if test="canReturn != null" >
        can_return,
      </if>
      <if test="canExchange != null" >
        can_exchange,
      </if>
      <if test="limitCount != null" >
        limit_count,
      </if>
      <if test="applyUserId != null" >
        apply_user_id,
      </if>
      <if test="applyTime != null" >
        apply_time,
      </if>
      <if test="applyContent != null" >
        apply_content,
      </if>
      <if test="approveUserId != null" >
        approve_user_id,
      </if>
      <if test="approveTime != null" >
        approve_time,
      </if>
      <if test="approveContent != null" >
        approve_content,
      </if>
      <if test="approveStatus != null" >
        approve_status,
      </if>
      <if test="deleted != null" >
        deleted,
      </if>
      <if test="updateUserId != null" >
        update_user_id,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="insertUserId != null" >
        insert_user_id,
      </if>
      <if test="insertTime != null" >
        insert_time,
      </if>
      <if test="activityName != null" >
        activity_name,
      </if>
      <if test="isMemberActivity != null" >
        is_member_activity,
      </if>
      <if test="needPoint != null" >
        need_point,
      </if>
      <if test="needFee != null" >
        need_fee,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="showFront != null" >
        show_front,
      </if>
      <if test="isValid != null" >
        is_valid,
      </if>
      <if test="goodsTypeValue != null" >
        goods_type_value,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="activityId != null" >
        #{activityId,jdbcType=VARCHAR},
      </if>
      <if test="shopId != null" >
        #{shopId,jdbcType=VARCHAR},
      </if>
      <if test="tempId != null" >
        #{tempId,jdbcType=VARCHAR},
      </if>
      <if test="tempName != null" >
        #{tempName,jdbcType=VARCHAR},
      </if>
      <if test="activityCode != null" >
        #{activityCode,jdbcType=VARCHAR},
      </if>
      <if test="comment != null" >
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        #{level,jdbcType=VARCHAR},
      </if>
      <if test="additionalDiscount != null" >
        #{additionalDiscount,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="unit != null" >
        #{unit,jdbcType=VARCHAR},
      </if>
      <if test="goodsType != null" >
        #{goodsType,jdbcType=VARCHAR},
      </if>
      <if test="memberType != null" >
        #{memberType,jdbcType=VARCHAR},
      </if>
      <if test="isOriginPrice != null" >
        #{isOriginPrice,jdbcType=VARCHAR},
      </if>
      <if test="hasSubActivity != null" >
        #{hasSubActivity,jdbcType=VARCHAR},
      </if>
      <if test="canReturn != null" >
        #{canReturn,jdbcType=VARCHAR},
      </if>
      <if test="canExchange != null" >
        #{canExchange,jdbcType=VARCHAR},
      </if>
      <if test="limitCount != null" >
        #{limitCount,jdbcType=VARCHAR},
      </if>
      <if test="applyUserId != null" >
        #{applyUserId,jdbcType=VARCHAR},
      </if>
      <if test="applyTime != null" >
        #{applyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="applyContent != null" >
        #{applyContent,jdbcType=VARCHAR},
      </if>
      <if test="approveUserId != null" >
        #{approveUserId,jdbcType=VARCHAR},
      </if>
      <if test="approveTime != null" >
        #{approveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="approveContent != null" >
        #{approveContent,jdbcType=VARCHAR},
      </if>
      <if test="approveStatus != null" >
        #{approveStatus,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null" >
        #{deleted,jdbcType=VARCHAR},
      </if>
      <if test="updateUserId != null" >
        #{updateUserId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="insertUserId != null" >
        #{insertUserId,jdbcType=VARCHAR},
      </if>
      <if test="insertTime != null" >
        #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="activityName != null" >
        #{activityName,jdbcType=VARCHAR},
      </if>
      <if test="isMemberActivity != null" >
        #{isMemberActivity,jdbcType=VARCHAR},
      </if>
      <if test="needPoint != null" >
        #{needPoint,jdbcType=INTEGER},
      </if>
      <if test="needFee != null" >
        #{needFee,jdbcType=NUMERIC},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="showFront != null" >
        #{showFront,jdbcType=INTEGER},
      </if>
      <if test="isValid != null" >
        #{isValid,jdbcType=CHAR},
      </if>
      <if test="goodsTypeValue != null" >
        #{goodsTypeValue,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="net.dlyt.qyds.common.dto.ActMaster" >
    update public.act_master
    <set >
      <if test="shopId != null" >
        shop_id = #{shopId,jdbcType=VARCHAR},
      </if>
      <if test="tempId != null" >
        temp_id = #{tempId,jdbcType=VARCHAR},
      </if>
      <if test="tempName != null" >
        temp_name = #{tempName,jdbcType=VARCHAR},
      </if>
      <if test="activityCode != null" >
        activity_code = #{activityCode,jdbcType=VARCHAR},
      </if>
      <if test="comment != null" >
        comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        level = #{level,jdbcType=VARCHAR},
      </if>
      <if test="additionalDiscount != null" >
        additional_discount = #{additionalDiscount,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="unit != null" >
        unit = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="goodsType != null" >
        goods_type = #{goodsType,jdbcType=VARCHAR},
      </if>
      <if test="memberType != null" >
        member_type = #{memberType,jdbcType=VARCHAR},
      </if>
      <if test="isOriginPrice != null" >
        is_origin_price = #{isOriginPrice,jdbcType=VARCHAR},
      </if>
      <if test="hasSubActivity != null" >
        has_sub_activity = #{hasSubActivity,jdbcType=VARCHAR},
      </if>
      <if test="canReturn != null" >
        can_return = #{canReturn,jdbcType=VARCHAR},
      </if>
      <if test="canExchange != null" >
        can_exchange = #{canExchange,jdbcType=VARCHAR},
      </if>
      <if test="limitCount != null" >
        limit_count = #{limitCount,jdbcType=VARCHAR},
      </if>
      <if test="applyUserId != null" >
        apply_user_id = #{applyUserId,jdbcType=VARCHAR},
      </if>
      <if test="applyTime != null" >
        apply_time = #{applyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="applyContent != null" >
        apply_content = #{applyContent,jdbcType=VARCHAR},
      </if>
      <if test="approveUserId != null" >
        approve_user_id = #{approveUserId,jdbcType=VARCHAR},
      </if>
      <if test="approveTime != null" >
        approve_time = #{approveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="approveContent != null" >
        approve_content = #{approveContent,jdbcType=VARCHAR},
      </if>
      <if test="approveStatus != null" >
        approve_status = #{approveStatus,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null" >
        deleted = #{deleted,jdbcType=VARCHAR},
      </if>
      <if test="updateUserId != null" >
        update_user_id = #{updateUserId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="insertUserId != null" >
        insert_user_id = #{insertUserId,jdbcType=VARCHAR},
      </if>
      <if test="insertTime != null" >
        insert_time = #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="activityName != null" >
        activity_name = #{activityName,jdbcType=VARCHAR},
      </if>
      <if test="isMemberActivity != null" >
        is_member_activity = #{isMemberActivity,jdbcType=VARCHAR},
      </if>
      <if test="needPoint != null" >
        need_point = #{needPoint,jdbcType=INTEGER},
      </if>
      <if test="needFee != null" >
        need_fee = #{needFee,jdbcType=NUMERIC},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="showFront != null" >
        show_front = #{showFront,jdbcType=INTEGER},
      </if>
      <if test="isValid != null" >
        is_valid = #{isValid,jdbcType=CHAR},
      </if>
      <if test="goodsTypeValue != null" >
        goods_type_value = #{goodsTypeValue,jdbcType=VARCHAR},
      </if>
    </set>
    where activity_id = #{activityId,jdbcType=VARCHAR}
  </update>
  <select id="selectByActivityIds" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from public.act_master
    <if test="activityIds != null">
      where activity_id in
      <foreach item="activityIds" index="index" collection="activityIds"
               open="(" separator="," close=")">#{activityIds}</foreach>
    </if>
  </select>
  <update id="updateByPrimaryKey" parameterType="net.dlyt.qyds.common.dto.ActMaster" >
    update public.act_master
    set shop_id = #{shopId,jdbcType=VARCHAR},
      temp_id = #{tempId,jdbcType=VARCHAR},
      temp_name = #{tempName,jdbcType=VARCHAR},
      activity_code = #{activityCode,jdbcType=VARCHAR},
      comment = #{comment,jdbcType=VARCHAR},
      level = #{level,jdbcType=VARCHAR},
      additional_discount = #{additionalDiscount,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      unit = #{unit,jdbcType=VARCHAR},
      goods_type = #{goodsType,jdbcType=VARCHAR},
      member_type = #{memberType,jdbcType=VARCHAR},
      is_origin_price = #{isOriginPrice,jdbcType=VARCHAR},
      has_sub_activity = #{hasSubActivity,jdbcType=VARCHAR},
      can_return = #{canReturn,jdbcType=VARCHAR},
      can_exchange = #{canExchange,jdbcType=VARCHAR},
      limit_count = #{limitCount,jdbcType=VARCHAR},
      apply_user_id = #{applyUserId,jdbcType=VARCHAR},
      apply_time = #{applyTime,jdbcType=TIMESTAMP},
      apply_content = #{applyContent,jdbcType=VARCHAR},
      approve_user_id = #{approveUserId,jdbcType=VARCHAR},
      approve_time = #{approveTime,jdbcType=TIMESTAMP},
      approve_content = #{approveContent,jdbcType=VARCHAR},
      approve_status = #{approveStatus,jdbcType=VARCHAR},
      deleted = #{deleted,jdbcType=VARCHAR},
      update_user_id = #{updateUserId,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      insert_user_id = #{insertUserId,jdbcType=VARCHAR},
      insert_time = #{insertTime,jdbcType=TIMESTAMP},
      activity_name = #{activityName,jdbcType=VARCHAR},
      is_member_activity = #{isMemberActivity,jdbcType=VARCHAR},
      need_point = #{needPoint,jdbcType=INTEGER},
      need_fee = #{needFee,jdbcType=NUMERIC},
      sort = #{sort,jdbcType=INTEGER},
      show_front = #{showFront,jdbcType=INTEGER},
      is_valid = #{isValid,jdbcType=CHAR},
      goods_type_value = #{goodsTypeValue,jdbcType=VARCHAR}
    where activity_id = #{activityId,jdbcType=VARCHAR}
  </update>
</mapper>