<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.dlyt.qyds.dao.ComSettingMapper" >
  <resultMap id="BaseResultMap" type="net.dlyt.qyds.common.dto.ComSetting" >
    <id column="com_setting_id" property="comSettingId" jdbcType="VARCHAR" />
    <result column="first_buy_activity" property="firstBuyActivity" jdbcType="VARCHAR" />
    <result column="first_buy_coupon" property="firstBuyCoupon" jdbcType="VARCHAR" />
    <result column="deleted" property="deleted" jdbcType="VARCHAR" />
    <result column="update_user_id" property="updateUserId" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="insert_user_id" property="insertUserId" jdbcType="VARCHAR" />
    <result column="insert_time" property="insertTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    com_setting_id, first_buy_activity, first_buy_coupon, deleted, update_user_id, update_time, 
    insert_user_id, insert_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from public.com_setting
    where com_setting_id = #{comSettingId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from public.com_setting
    where com_setting_id = #{comSettingId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="net.dlyt.qyds.common.dto.ComSetting" >
    insert into public.com_setting (com_setting_id, first_buy_activity, first_buy_coupon, 
      deleted, update_user_id, update_time, 
      insert_user_id, insert_time)
    values (#{comSettingId,jdbcType=VARCHAR}, #{firstBuyActivity,jdbcType=VARCHAR}, #{firstBuyCoupon,jdbcType=VARCHAR}, 
      #{deleted,jdbcType=VARCHAR}, #{updateUserId,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{insertUserId,jdbcType=VARCHAR}, #{insertTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="net.dlyt.qyds.common.dto.ComSetting" >
    insert into public.com_setting
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="comSettingId != null" >
        com_setting_id,
      </if>
      <if test="firstBuyActivity != null" >
        first_buy_activity,
      </if>
      <if test="firstBuyCoupon != null" >
        first_buy_coupon,
      </if>
      <if test="deleted != null" >
        deleted,
      </if>
      <if test="updateUserId != null" >
        update_user_id,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="insertUserId != null" >
        insert_user_id,
      </if>
      <if test="insertTime != null" >
        insert_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="comSettingId != null" >
        #{comSettingId,jdbcType=VARCHAR},
      </if>
      <if test="firstBuyActivity != null" >
        #{firstBuyActivity,jdbcType=VARCHAR},
      </if>
      <if test="firstBuyCoupon != null" >
        #{firstBuyCoupon,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null" >
        #{deleted,jdbcType=VARCHAR},
      </if>
      <if test="updateUserId != null" >
        #{updateUserId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="insertUserId != null" >
        #{insertUserId,jdbcType=VARCHAR},
      </if>
      <if test="insertTime != null" >
        #{insertTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="net.dlyt.qyds.common.dto.ComSetting" >
    update public.com_setting
    <set >
      <if test="firstBuyActivity != null" >
        first_buy_activity = #{firstBuyActivity,jdbcType=VARCHAR},
      </if>
      <if test="firstBuyCoupon != null" >
        first_buy_coupon = #{firstBuyCoupon,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null" >
        deleted = #{deleted,jdbcType=VARCHAR},
      </if>
      <if test="updateUserId != null" >
        update_user_id = #{updateUserId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="insertUserId != null" >
        insert_user_id = #{insertUserId,jdbcType=VARCHAR},
      </if>
      <if test="insertTime != null" >
        insert_time = #{insertTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where com_setting_id = #{comSettingId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="net.dlyt.qyds.common.dto.ComSetting" >
    update public.com_setting
    set first_buy_activity = #{firstBuyActivity,jdbcType=VARCHAR},
      first_buy_coupon = #{firstBuyCoupon,jdbcType=VARCHAR},
      deleted = #{deleted,jdbcType=VARCHAR},
      update_user_id = #{updateUserId,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      insert_user_id = #{insertUserId,jdbcType=VARCHAR},
      insert_time = #{insertTime,jdbcType=TIMESTAMP}
    where com_setting_id = #{comSettingId,jdbcType=VARCHAR}
  </update>
</mapper>