<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.dlyt.qyds.dao.CouponMasterMapper" >
  <resultMap id="BaseResultMap" type="net.dlyt.qyds.common.dto.CouponMaster" >
    <id column="coupon_id" property="couponId" jdbcType="VARCHAR" />
    <result column="shop_id" property="shopId" jdbcType="VARCHAR" />
    <result column="coupon_name" property="couponName" jdbcType="VARCHAR" />
    <result column="coupon_image" property="couponImage" jdbcType="VARCHAR" />
    <result column="coupon_code" property="couponCode" jdbcType="VARCHAR" />
    <result column="coupon_type" property="couponType" jdbcType="VARCHAR" />
    <result column="coupon_scope" property="couponScope" jdbcType="VARCHAR" />
    <result column="goods_type" property="goodsType" jdbcType="VARCHAR" />
    <result column="is_origin_price" property="isOriginPrice" jdbcType="VARCHAR" />
    <result column="min_goods_count" property="minGoodsCount" jdbcType="VARCHAR" />
    <result column="distribute_type" property="distributeType" jdbcType="VARCHAR" />
    <result column="worth" property="worth" jdbcType="INTEGER" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="max_count" property="maxCount" jdbcType="INTEGER" />
    <result column="distributed_count" property="distributedCount" jdbcType="INTEGER" />
    <result column="min_order_price" property="minOrderPrice" jdbcType="VARCHAR" />
    <result column="comment" property="comment" jdbcType="VARCHAR" />
    <result column="apply_user_id" property="applyUserId" jdbcType="VARCHAR" />
    <result column="apply_time" property="applyTime" jdbcType="TIMESTAMP" />
    <result column="apply_content" property="applyContent" jdbcType="VARCHAR" />
    <result column="approve_user_id" property="approveUserId" jdbcType="VARCHAR" />
    <result column="approve_time" property="approveTime" jdbcType="TIMESTAMP" />
    <result column="approve_content" property="approveContent" jdbcType="VARCHAR" />
    <result column="approve_status" property="approveStatus" jdbcType="VARCHAR" />
    <result column="deleted" property="deleted" jdbcType="VARCHAR" />
    <result column="update_user_id" property="updateUserId" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="insert_user_id" property="insertUserId" jdbcType="VARCHAR" />
    <result column="insert_time" property="insertTime" jdbcType="TIMESTAMP" />
    <result column="erp_send_status" property="erpSendStatus" jdbcType="VARCHAR" />
    <result column="send_start_time" property="sendStartTime" jdbcType="TIMESTAMP" />
    <result column="send_end_time" property="sendEndTime" jdbcType="TIMESTAMP" />
    <result column="valid_days" property="validDays" jdbcType="INTEGER" />
    <result column="exchange_point" property="exchangePoint" jdbcType="INTEGER" />
    <result column="coupon_style" property="couponStyle" jdbcType="CHAR" />
    <result column="discount" property="discount" jdbcType="NUMERIC" />
    <result column="member_level" property="memberLevel" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="per_max_count" property="perMaxCount" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="NUMERIC" />
    <result column="is_valid" property="isValid" jdbcType="CHAR" />
    <result column="goods_type_value" property="goodsTypeValue" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    coupon_id, shop_id, coupon_name, coupon_image, coupon_code, coupon_type, coupon_scope, 
    goods_type, is_origin_price, min_goods_count, distribute_type, worth, start_time, 
    end_time, max_count, distributed_count, min_order_price, comment, apply_user_id, 
    apply_time, apply_content, approve_user_id, approve_time, approve_content, approve_status, 
    deleted, update_user_id, update_time, insert_user_id, insert_time, erp_send_status, 
    send_start_time, send_end_time, valid_days, exchange_point, coupon_style, discount, 
    member_level, sort, per_max_count, price, is_valid, goods_type_value
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from public.coupon_master
    where coupon_id = #{couponId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from public.coupon_master
    where coupon_id = #{couponId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="net.dlyt.qyds.common.dto.CouponMaster" >
    insert into public.coupon_master (coupon_id, shop_id, coupon_name, 
      coupon_image, coupon_code, coupon_type, 
      coupon_scope, goods_type, is_origin_price, 
      min_goods_count, distribute_type, worth, 
      start_time, end_time, max_count, 
      distributed_count, min_order_price, comment, 
      apply_user_id, apply_time, apply_content, 
      approve_user_id, approve_time, approve_content, 
      approve_status, deleted, update_user_id, 
      update_time, insert_user_id, insert_time, 
      erp_send_status, send_start_time, send_end_time, 
      valid_days, exchange_point, coupon_style, 
      discount, member_level, sort, 
      per_max_count, price, is_valid, 
      goods_type_value)
    values (#{couponId,jdbcType=VARCHAR}, #{shopId,jdbcType=VARCHAR}, #{couponName,jdbcType=VARCHAR}, 
      #{couponImage,jdbcType=VARCHAR}, #{couponCode,jdbcType=VARCHAR}, #{couponType,jdbcType=VARCHAR}, 
      #{couponScope,jdbcType=VARCHAR}, #{goodsType,jdbcType=VARCHAR}, #{isOriginPrice,jdbcType=VARCHAR}, 
      #{minGoodsCount,jdbcType=VARCHAR}, #{distributeType,jdbcType=VARCHAR}, #{worth,jdbcType=INTEGER}, 
      #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, #{maxCount,jdbcType=INTEGER}, 
      #{distributedCount,jdbcType=INTEGER}, #{minOrderPrice,jdbcType=VARCHAR}, #{comment,jdbcType=VARCHAR}, 
      #{applyUserId,jdbcType=VARCHAR}, #{applyTime,jdbcType=TIMESTAMP}, #{applyContent,jdbcType=VARCHAR}, 
      #{approveUserId,jdbcType=VARCHAR}, #{approveTime,jdbcType=TIMESTAMP}, #{approveContent,jdbcType=VARCHAR}, 
      #{approveStatus,jdbcType=VARCHAR}, #{deleted,jdbcType=VARCHAR}, #{updateUserId,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{insertUserId,jdbcType=VARCHAR}, #{insertTime,jdbcType=TIMESTAMP}, 
      #{erpSendStatus,jdbcType=VARCHAR}, #{sendStartTime,jdbcType=TIMESTAMP}, #{sendEndTime,jdbcType=TIMESTAMP}, 
      #{validDays,jdbcType=INTEGER}, #{exchangePoint,jdbcType=INTEGER}, #{couponStyle,jdbcType=CHAR}, 
      #{discount,jdbcType=NUMERIC}, #{memberLevel,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}, 
      #{perMaxCount,jdbcType=INTEGER}, #{price,jdbcType=NUMERIC}, #{isValid,jdbcType=CHAR}, 
      #{goodsTypeValue,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="net.dlyt.qyds.common.dto.CouponMaster" >
    insert into public.coupon_master
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="couponId != null" >
        coupon_id,
      </if>
      <if test="shopId != null" >
        shop_id,
      </if>
      <if test="couponName != null" >
        coupon_name,
      </if>
      <if test="couponImage != null" >
        coupon_image,
      </if>
      <if test="couponCode != null" >
        coupon_code,
      </if>
      <if test="couponType != null" >
        coupon_type,
      </if>
      <if test="couponScope != null" >
        coupon_scope,
      </if>
      <if test="goodsType != null" >
        goods_type,
      </if>
      <if test="isOriginPrice != null" >
        is_origin_price,
      </if>
      <if test="minGoodsCount != null" >
        min_goods_count,
      </if>
      <if test="distributeType != null" >
        distribute_type,
      </if>
      <if test="worth != null" >
        worth,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="maxCount != null" >
        max_count,
      </if>
      <if test="distributedCount != null" >
        distributed_count,
      </if>
      <if test="minOrderPrice != null" >
        min_order_price,
      </if>
      <if test="comment != null" >
        comment,
      </if>
      <if test="applyUserId != null" >
        apply_user_id,
      </if>
      <if test="applyTime != null" >
        apply_time,
      </if>
      <if test="applyContent != null" >
        apply_content,
      </if>
      <if test="approveUserId != null" >
        approve_user_id,
      </if>
      <if test="approveTime != null" >
        approve_time,
      </if>
      <if test="approveContent != null" >
        approve_content,
      </if>
      <if test="approveStatus != null" >
        approve_status,
      </if>
      <if test="deleted != null" >
        deleted,
      </if>
      <if test="updateUserId != null" >
        update_user_id,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="insertUserId != null" >
        insert_user_id,
      </if>
      <if test="insertTime != null" >
        insert_time,
      </if>
      <if test="erpSendStatus != null" >
        erp_send_status,
      </if>
      <if test="sendStartTime != null" >
        send_start_time,
      </if>
      <if test="sendEndTime != null" >
        send_end_time,
      </if>
      <if test="validDays != null" >
        valid_days,
      </if>
      <if test="exchangePoint != null" >
        exchange_point,
      </if>
      <if test="couponStyle != null" >
        coupon_style,
      </if>
      <if test="discount != null" >
        discount,
      </if>
      <if test="memberLevel != null" >
        member_level,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="perMaxCount != null" >
        per_max_count,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="isValid != null" >
        is_valid,
      </if>
      <if test="goodsTypeValue != null" >
        goods_type_value,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="couponId != null" >
        #{couponId,jdbcType=VARCHAR},
      </if>
      <if test="shopId != null" >
        #{shopId,jdbcType=VARCHAR},
      </if>
      <if test="couponName != null" >
        #{couponName,jdbcType=VARCHAR},
      </if>
      <if test="couponImage != null" >
        #{couponImage,jdbcType=VARCHAR},
      </if>
      <if test="couponCode != null" >
        #{couponCode,jdbcType=VARCHAR},
      </if>
      <if test="couponType != null" >
        #{couponType,jdbcType=VARCHAR},
      </if>
      <if test="couponScope != null" >
        #{couponScope,jdbcType=VARCHAR},
      </if>
      <if test="goodsType != null" >
        #{goodsType,jdbcType=VARCHAR},
      </if>
      <if test="isOriginPrice != null" >
        #{isOriginPrice,jdbcType=VARCHAR},
      </if>
      <if test="minGoodsCount != null" >
        #{minGoodsCount,jdbcType=VARCHAR},
      </if>
      <if test="distributeType != null" >
        #{distributeType,jdbcType=VARCHAR},
      </if>
      <if test="worth != null" >
        #{worth,jdbcType=INTEGER},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="maxCount != null" >
        #{maxCount,jdbcType=INTEGER},
      </if>
      <if test="distributedCount != null" >
        #{distributedCount,jdbcType=INTEGER},
      </if>
      <if test="minOrderPrice != null" >
        #{minOrderPrice,jdbcType=VARCHAR},
      </if>
      <if test="comment != null" >
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="applyUserId != null" >
        #{applyUserId,jdbcType=VARCHAR},
      </if>
      <if test="applyTime != null" >
        #{applyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="applyContent != null" >
        #{applyContent,jdbcType=VARCHAR},
      </if>
      <if test="approveUserId != null" >
        #{approveUserId,jdbcType=VARCHAR},
      </if>
      <if test="approveTime != null" >
        #{approveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="approveContent != null" >
        #{approveContent,jdbcType=VARCHAR},
      </if>
      <if test="approveStatus != null" >
        #{approveStatus,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null" >
        #{deleted,jdbcType=VARCHAR},
      </if>
      <if test="updateUserId != null" >
        #{updateUserId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="insertUserId != null" >
        #{insertUserId,jdbcType=VARCHAR},
      </if>
      <if test="insertTime != null" >
        #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="erpSendStatus != null" >
        #{erpSendStatus,jdbcType=VARCHAR},
      </if>
      <if test="sendStartTime != null" >
        #{sendStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sendEndTime != null" >
        #{sendEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="validDays != null" >
        #{validDays,jdbcType=INTEGER},
      </if>
      <if test="exchangePoint != null" >
        #{exchangePoint,jdbcType=INTEGER},
      </if>
      <if test="couponStyle != null" >
        #{couponStyle,jdbcType=CHAR},
      </if>
      <if test="discount != null" >
        #{discount,jdbcType=NUMERIC},
      </if>
      <if test="memberLevel != null" >
        #{memberLevel,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="perMaxCount != null" >
        #{perMaxCount,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        #{price,jdbcType=NUMERIC},
      </if>
      <if test="isValid != null" >
        #{isValid,jdbcType=CHAR},
      </if>
      <if test="goodsTypeValue != null" >
        #{goodsTypeValue,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="net.dlyt.qyds.common.dto.CouponMaster" >
    update public.coupon_master
    <set >
      <if test="shopId != null" >
        shop_id = #{shopId,jdbcType=VARCHAR},
      </if>
      <if test="couponName != null" >
        coupon_name = #{couponName,jdbcType=VARCHAR},
      </if>
      <if test="couponImage != null" >
        coupon_image = #{couponImage,jdbcType=VARCHAR},
      </if>
      <if test="couponCode != null" >
        coupon_code = #{couponCode,jdbcType=VARCHAR},
      </if>
      <if test="couponType != null" >
        coupon_type = #{couponType,jdbcType=VARCHAR},
      </if>
      <if test="couponScope != null" >
        coupon_scope = #{couponScope,jdbcType=VARCHAR},
      </if>
      <if test="goodsType != null" >
        goods_type = #{goodsType,jdbcType=VARCHAR},
      </if>
      <if test="isOriginPrice != null" >
        is_origin_price = #{isOriginPrice,jdbcType=VARCHAR},
      </if>
      <if test="minGoodsCount != null" >
        min_goods_count = #{minGoodsCount,jdbcType=VARCHAR},
      </if>
      <if test="distributeType != null" >
        distribute_type = #{distributeType,jdbcType=VARCHAR},
      </if>
      <if test="worth != null" >
        worth = #{worth,jdbcType=INTEGER},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="maxCount != null" >
        max_count = #{maxCount,jdbcType=INTEGER},
      </if>
      <if test="distributedCount != null" >
        distributed_count = #{distributedCount,jdbcType=INTEGER},
      </if>
      <if test="minOrderPrice != null" >
        min_order_price = #{minOrderPrice,jdbcType=VARCHAR},
      </if>
      <if test="comment != null" >
        comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="applyUserId != null" >
        apply_user_id = #{applyUserId,jdbcType=VARCHAR},
      </if>
      <if test="applyTime != null" >
        apply_time = #{applyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="applyContent != null" >
        apply_content = #{applyContent,jdbcType=VARCHAR},
      </if>
      <if test="approveUserId != null" >
        approve_user_id = #{approveUserId,jdbcType=VARCHAR},
      </if>
      <if test="approveTime != null" >
        approve_time = #{approveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="approveContent != null" >
        approve_content = #{approveContent,jdbcType=VARCHAR},
      </if>
      <if test="approveStatus != null" >
        approve_status = #{approveStatus,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null" >
        deleted = #{deleted,jdbcType=VARCHAR},
      </if>
      <if test="updateUserId != null" >
        update_user_id = #{updateUserId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="insertUserId != null" >
        insert_user_id = #{insertUserId,jdbcType=VARCHAR},
      </if>
      <if test="insertTime != null" >
        insert_time = #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="erpSendStatus != null" >
        erp_send_status = #{erpSendStatus,jdbcType=VARCHAR},
      </if>
      <if test="sendStartTime != null" >
        send_start_time = #{sendStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sendEndTime != null" >
        send_end_time = #{sendEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="validDays != null" >
        valid_days = #{validDays,jdbcType=INTEGER},
      </if>
      <if test="exchangePoint != null" >
        exchange_point = #{exchangePoint,jdbcType=INTEGER},
      </if>
      <if test="couponStyle != null" >
        coupon_style = #{couponStyle,jdbcType=CHAR},
      </if>
      <if test="discount != null" >
        discount = #{discount,jdbcType=NUMERIC},
      </if>
      <if test="memberLevel != null" >
        member_level = #{memberLevel,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="perMaxCount != null" >
        per_max_count = #{perMaxCount,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=NUMERIC},
      </if>
      <if test="isValid != null" >
        is_valid = #{isValid,jdbcType=CHAR},
      </if>
      <if test="goodsTypeValue != null" >
        goods_type_value = #{goodsTypeValue,jdbcType=VARCHAR},
      </if>
    </set>
    where coupon_id = #{couponId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="net.dlyt.qyds.common.dto.CouponMaster" >
    update public.coupon_master
    set shop_id = #{shopId,jdbcType=VARCHAR},
      coupon_name = #{couponName,jdbcType=VARCHAR},
      coupon_image = #{couponImage,jdbcType=VARCHAR},
      coupon_code = #{couponCode,jdbcType=VARCHAR},
      coupon_type = #{couponType,jdbcType=VARCHAR},
      coupon_scope = #{couponScope,jdbcType=VARCHAR},
      goods_type = #{goodsType,jdbcType=VARCHAR},
      is_origin_price = #{isOriginPrice,jdbcType=VARCHAR},
      min_goods_count = #{minGoodsCount,jdbcType=VARCHAR},
      distribute_type = #{distributeType,jdbcType=VARCHAR},
      worth = #{worth,jdbcType=INTEGER},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      max_count = #{maxCount,jdbcType=INTEGER},
      distributed_count = #{distributedCount,jdbcType=INTEGER},
      min_order_price = #{minOrderPrice,jdbcType=VARCHAR},
      comment = #{comment,jdbcType=VARCHAR},
      apply_user_id = #{applyUserId,jdbcType=VARCHAR},
      apply_time = #{applyTime,jdbcType=TIMESTAMP},
      apply_content = #{applyContent,jdbcType=VARCHAR},
      approve_user_id = #{approveUserId,jdbcType=VARCHAR},
      approve_time = #{approveTime,jdbcType=TIMESTAMP},
      approve_content = #{approveContent,jdbcType=VARCHAR},
      approve_status = #{approveStatus,jdbcType=VARCHAR},
      deleted = #{deleted,jdbcType=VARCHAR},
      update_user_id = #{updateUserId,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      insert_user_id = #{insertUserId,jdbcType=VARCHAR},
      insert_time = #{insertTime,jdbcType=TIMESTAMP},
      erp_send_status = #{erpSendStatus,jdbcType=VARCHAR},
      send_start_time = #{sendStartTime,jdbcType=TIMESTAMP},
      send_end_time = #{sendEndTime,jdbcType=TIMESTAMP},
      valid_days = #{validDays,jdbcType=INTEGER},
      exchange_point = #{exchangePoint,jdbcType=INTEGER},
      coupon_style = #{couponStyle,jdbcType=CHAR},
      discount = #{discount,jdbcType=NUMERIC},
      member_level = #{memberLevel,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      per_max_count = #{perMaxCount,jdbcType=INTEGER},
      price = #{price,jdbcType=NUMERIC},
      is_valid = #{isValid,jdbcType=CHAR},
      goods_type_value = #{goodsTypeValue,jdbcType=VARCHAR}
    where coupon_id = #{couponId,jdbcType=VARCHAR}
  </update>
</mapper>