<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.dlyt.qyds.dao.ErpBankRecordMapper" >
  <resultMap id="BaseResultMap" type="net.dlyt.qyds.common.dto.ErpBankRecord" >
    <id column="recordid" property="recordid" jdbcType="INTEGER" />
    <result column="erp_goods_code" property="erpGoodsCode" jdbcType="VARCHAR" />
    <result column="erp_sku" property="erpSku" jdbcType="VARCHAR" />
    <result column="erp_storeid" property="erpStoreid" jdbcType="VARCHAR" />
    <result column="banktype" property="banktype" jdbcType="VARCHAR" />
    <result column="inout_count" property="inoutCount" jdbcType="INTEGER" />
    <result column="inout_time" property="inoutTime" jdbcType="TIMESTAMP" />
    <result column="comment" property="comment" jdbcType="VARCHAR" />
    <result column="deleted" property="deleted" jdbcType="VARCHAR" />
    <result column="update_user_id" property="updateUserId" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="insert_user_id" property="insertUserId" jdbcType="VARCHAR" />
    <result column="insert_time" property="insertTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    recordid, erp_goods_code, erp_sku, erp_storeid, banktype, inout_count, inout_time, 
    comment, deleted, update_user_id, update_time, insert_user_id, insert_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from public.erp_bank_record
    where recordid = #{recordid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from public.erp_bank_record
    where recordid = #{recordid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="net.dlyt.qyds.common.dto.ErpBankRecord" >
    insert into public.erp_bank_record (recordid, erp_goods_code, erp_sku, 
      erp_storeid, banktype, inout_count, 
      inout_time, comment, deleted, 
      update_user_id, update_time, insert_user_id, 
      insert_time)
    values (#{recordid,jdbcType=INTEGER}, #{erpGoodsCode,jdbcType=VARCHAR}, #{erpSku,jdbcType=VARCHAR}, 
      #{erpStoreid,jdbcType=VARCHAR}, #{banktype,jdbcType=VARCHAR}, #{inoutCount,jdbcType=INTEGER}, 
      #{inoutTime,jdbcType=TIMESTAMP}, #{comment,jdbcType=VARCHAR}, #{deleted,jdbcType=VARCHAR}, 
      #{updateUserId,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{insertUserId,jdbcType=VARCHAR}, 
      #{insertTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="net.dlyt.qyds.common.dto.ErpBankRecord" >
    insert into public.erp_bank_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="recordid != null" >
        recordid,
      </if>
      <if test="erpGoodsCode != null" >
        erp_goods_code,
      </if>
      <if test="erpSku != null" >
        erp_sku,
      </if>
      <if test="erpStoreid != null" >
        erp_storeid,
      </if>
      <if test="banktype != null" >
        banktype,
      </if>
      <if test="inoutCount != null" >
        inout_count,
      </if>
      <if test="inoutTime != null" >
        inout_time,
      </if>
      <if test="comment != null" >
        comment,
      </if>
      <if test="deleted != null" >
        deleted,
      </if>
      <if test="updateUserId != null" >
        update_user_id,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="insertUserId != null" >
        insert_user_id,
      </if>
      <if test="insertTime != null" >
        insert_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="recordid != null" >
        #{recordid,jdbcType=INTEGER},
      </if>
      <if test="erpGoodsCode != null" >
        #{erpGoodsCode,jdbcType=VARCHAR},
      </if>
      <if test="erpSku != null" >
        #{erpSku,jdbcType=VARCHAR},
      </if>
      <if test="erpStoreid != null" >
        #{erpStoreid,jdbcType=VARCHAR},
      </if>
      <if test="banktype != null" >
        #{banktype,jdbcType=VARCHAR},
      </if>
      <if test="inoutCount != null" >
        #{inoutCount,jdbcType=INTEGER},
      </if>
      <if test="inoutTime != null" >
        #{inoutTime,jdbcType=TIMESTAMP},
      </if>
      <if test="comment != null" >
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null" >
        #{deleted,jdbcType=VARCHAR},
      </if>
      <if test="updateUserId != null" >
        #{updateUserId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="insertUserId != null" >
        #{insertUserId,jdbcType=VARCHAR},
      </if>
      <if test="insertTime != null" >
        #{insertTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="net.dlyt.qyds.common.dto.ErpBankRecord" >
    update public.erp_bank_record
    <set >
      <if test="erpGoodsCode != null" >
        erp_goods_code = #{erpGoodsCode,jdbcType=VARCHAR},
      </if>
      <if test="erpSku != null" >
        erp_sku = #{erpSku,jdbcType=VARCHAR},
      </if>
      <if test="erpStoreid != null" >
        erp_storeid = #{erpStoreid,jdbcType=VARCHAR},
      </if>
      <if test="banktype != null" >
        banktype = #{banktype,jdbcType=VARCHAR},
      </if>
      <if test="inoutCount != null" >
        inout_count = #{inoutCount,jdbcType=INTEGER},
      </if>
      <if test="inoutTime != null" >
        inout_time = #{inoutTime,jdbcType=TIMESTAMP},
      </if>
      <if test="comment != null" >
        comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null" >
        deleted = #{deleted,jdbcType=VARCHAR},
      </if>
      <if test="updateUserId != null" >
        update_user_id = #{updateUserId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="insertUserId != null" >
        insert_user_id = #{insertUserId,jdbcType=VARCHAR},
      </if>
      <if test="insertTime != null" >
        insert_time = #{insertTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where recordid = #{recordid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="net.dlyt.qyds.common.dto.ErpBankRecord" >
    update public.erp_bank_record
    set erp_goods_code = #{erpGoodsCode,jdbcType=VARCHAR},
      erp_sku = #{erpSku,jdbcType=VARCHAR},
      erp_storeid = #{erpStoreid,jdbcType=VARCHAR},
      banktype = #{banktype,jdbcType=VARCHAR},
      inout_count = #{inoutCount,jdbcType=INTEGER},
      inout_time = #{inoutTime,jdbcType=TIMESTAMP},
      comment = #{comment,jdbcType=VARCHAR},
      deleted = #{deleted,jdbcType=VARCHAR},
      update_user_id = #{updateUserId,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      insert_user_id = #{insertUserId,jdbcType=VARCHAR},
      insert_time = #{insertTime,jdbcType=TIMESTAMP}
    where recordid = #{recordid,jdbcType=INTEGER}
  </update>
</mapper>