<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.dlyt.qyds.dao.ErpGoodsSeasonMapper" >
  <resultMap id="BaseResultMap" type="net.dlyt.qyds.common.dto.ErpGoodsSeason" >
    <id column="season_code" property="seasonCode" jdbcType="VARCHAR" />
    <result column="season_name_en" property="seasonNameEn" jdbcType="VARCHAR" />
    <result column="season_name_cn" property="seasonNameCn" jdbcType="VARCHAR" />
    <result column="comment" property="comment" jdbcType="VARCHAR" />
    <result column="deleted" property="deleted" jdbcType="VARCHAR" />
    <result column="update_user_id" property="updateUserId" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="insert_user_id" property="insertUserId" jdbcType="VARCHAR" />
    <result column="insert_time" property="insertTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    season_code, season_name_en, season_name_cn, comment, deleted, update_user_id, update_time, 
    insert_user_id, insert_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from public.erp_goods_season
    where season_code = #{seasonCode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from public.erp_goods_season
    where season_code = #{seasonCode,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="net.dlyt.qyds.common.dto.ErpGoodsSeason" >
    insert into public.erp_goods_season (season_code, season_name_en, season_name_cn, 
      comment, deleted, update_user_id, 
      update_time, insert_user_id, insert_time
      )
    values (#{seasonCode,jdbcType=VARCHAR}, #{seasonNameEn,jdbcType=VARCHAR}, #{seasonNameCn,jdbcType=VARCHAR}, 
      #{comment,jdbcType=VARCHAR}, #{deleted,jdbcType=VARCHAR}, #{updateUserId,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{insertUserId,jdbcType=VARCHAR}, #{insertTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="net.dlyt.qyds.common.dto.ErpGoodsSeason" >
    insert into public.erp_goods_season
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="seasonCode != null" >
        season_code,
      </if>
      <if test="seasonNameEn != null" >
        season_name_en,
      </if>
      <if test="seasonNameCn != null" >
        season_name_cn,
      </if>
      <if test="comment != null" >
        comment,
      </if>
      <if test="deleted != null" >
        deleted,
      </if>
      <if test="updateUserId != null" >
        update_user_id,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="insertUserId != null" >
        insert_user_id,
      </if>
      <if test="insertTime != null" >
        insert_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="seasonCode != null" >
        #{seasonCode,jdbcType=VARCHAR},
      </if>
      <if test="seasonNameEn != null" >
        #{seasonNameEn,jdbcType=VARCHAR},
      </if>
      <if test="seasonNameCn != null" >
        #{seasonNameCn,jdbcType=VARCHAR},
      </if>
      <if test="comment != null" >
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null" >
        #{deleted,jdbcType=VARCHAR},
      </if>
      <if test="updateUserId != null" >
        #{updateUserId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="insertUserId != null" >
        #{insertUserId,jdbcType=VARCHAR},
      </if>
      <if test="insertTime != null" >
        #{insertTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="net.dlyt.qyds.common.dto.ErpGoodsSeason" >
    update public.erp_goods_season
    <set >
      <if test="seasonNameEn != null" >
        season_name_en = #{seasonNameEn,jdbcType=VARCHAR},
      </if>
      <if test="seasonNameCn != null" >
        season_name_cn = #{seasonNameCn,jdbcType=VARCHAR},
      </if>
      <if test="comment != null" >
        comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null" >
        deleted = #{deleted,jdbcType=VARCHAR},
      </if>
      <if test="updateUserId != null" >
        update_user_id = #{updateUserId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="insertUserId != null" >
        insert_user_id = #{insertUserId,jdbcType=VARCHAR},
      </if>
      <if test="insertTime != null" >
        insert_time = #{insertTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where season_code = #{seasonCode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="net.dlyt.qyds.common.dto.ErpGoodsSeason" >
    update public.erp_goods_season
    set season_name_en = #{seasonNameEn,jdbcType=VARCHAR},
      season_name_cn = #{seasonNameCn,jdbcType=VARCHAR},
      comment = #{comment,jdbcType=VARCHAR},
      deleted = #{deleted,jdbcType=VARCHAR},
      update_user_id = #{updateUserId,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      insert_user_id = #{insertUserId,jdbcType=VARCHAR},
      insert_time = #{insertTime,jdbcType=TIMESTAMP}
    where season_code = #{seasonCode,jdbcType=VARCHAR}
  </update>
</mapper>