<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.dlyt.qyds.dao.ErpGoodsTypeMapper" >
  <resultMap id="BaseResultMap" type="net.dlyt.qyds.common.dto.ErpGoodsType" >
    <id column="type_code" property="typeCode" jdbcType="VARCHAR" />
    <result column="top_type_code" property="topTypeCode" jdbcType="VARCHAR" />
    <result column="top_type_name_en" property="topTypeNameEn" jdbcType="VARCHAR" />
    <result column="top_type_name_cn" property="topTypeNameCn" jdbcType="VARCHAR" />
    <result column="type_name_en" property="typeNameEn" jdbcType="VARCHAR" />
    <result column="type_name_cn" property="typeNameCn" jdbcType="VARCHAR" />
    <result column="comment" property="comment" jdbcType="VARCHAR" />
    <result column="deleted" property="deleted" jdbcType="VARCHAR" />
    <result column="update_user_id" property="updateUserId" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="insert_user_id" property="insertUserId" jdbcType="VARCHAR" />
    <result column="insert_time" property="insertTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    type_code, top_type_code, top_type_name_en, top_type_name_cn, type_name_en, type_name_cn, 
    comment, deleted, update_user_id, update_time, insert_user_id, insert_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from public.erp_goods_type
    where type_code = #{typeCode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from public.erp_goods_type
    where type_code = #{typeCode,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="net.dlyt.qyds.common.dto.ErpGoodsType" >
    insert into public.erp_goods_type (type_code, top_type_code, top_type_name_en, 
      top_type_name_cn, type_name_en, type_name_cn, 
      comment, deleted, update_user_id, 
      update_time, insert_user_id, insert_time
      )
    values (#{typeCode,jdbcType=VARCHAR}, #{topTypeCode,jdbcType=VARCHAR}, #{topTypeNameEn,jdbcType=VARCHAR}, 
      #{topTypeNameCn,jdbcType=VARCHAR}, #{typeNameEn,jdbcType=VARCHAR}, #{typeNameCn,jdbcType=VARCHAR}, 
      #{comment,jdbcType=VARCHAR}, #{deleted,jdbcType=VARCHAR}, #{updateUserId,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{insertUserId,jdbcType=VARCHAR}, #{insertTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="net.dlyt.qyds.common.dto.ErpGoodsType" >
    insert into public.erp_goods_type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="typeCode != null" >
        type_code,
      </if>
      <if test="topTypeCode != null" >
        top_type_code,
      </if>
      <if test="topTypeNameEn != null" >
        top_type_name_en,
      </if>
      <if test="topTypeNameCn != null" >
        top_type_name_cn,
      </if>
      <if test="typeNameEn != null" >
        type_name_en,
      </if>
      <if test="typeNameCn != null" >
        type_name_cn,
      </if>
      <if test="comment != null" >
        comment,
      </if>
      <if test="deleted != null" >
        deleted,
      </if>
      <if test="updateUserId != null" >
        update_user_id,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="insertUserId != null" >
        insert_user_id,
      </if>
      <if test="insertTime != null" >
        insert_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="typeCode != null" >
        #{typeCode,jdbcType=VARCHAR},
      </if>
      <if test="topTypeCode != null" >
        #{topTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="topTypeNameEn != null" >
        #{topTypeNameEn,jdbcType=VARCHAR},
      </if>
      <if test="topTypeNameCn != null" >
        #{topTypeNameCn,jdbcType=VARCHAR},
      </if>
      <if test="typeNameEn != null" >
        #{typeNameEn,jdbcType=VARCHAR},
      </if>
      <if test="typeNameCn != null" >
        #{typeNameCn,jdbcType=VARCHAR},
      </if>
      <if test="comment != null" >
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null" >
        #{deleted,jdbcType=VARCHAR},
      </if>
      <if test="updateUserId != null" >
        #{updateUserId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="insertUserId != null" >
        #{insertUserId,jdbcType=VARCHAR},
      </if>
      <if test="insertTime != null" >
        #{insertTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="net.dlyt.qyds.common.dto.ErpGoodsType" >
    update public.erp_goods_type
    <set >
      <if test="topTypeCode != null" >
        top_type_code = #{topTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="topTypeNameEn != null" >
        top_type_name_en = #{topTypeNameEn,jdbcType=VARCHAR},
      </if>
      <if test="topTypeNameCn != null" >
        top_type_name_cn = #{topTypeNameCn,jdbcType=VARCHAR},
      </if>
      <if test="typeNameEn != null" >
        type_name_en = #{typeNameEn,jdbcType=VARCHAR},
      </if>
      <if test="typeNameCn != null" >
        type_name_cn = #{typeNameCn,jdbcType=VARCHAR},
      </if>
      <if test="comment != null" >
        comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null" >
        deleted = #{deleted,jdbcType=VARCHAR},
      </if>
      <if test="updateUserId != null" >
        update_user_id = #{updateUserId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="insertUserId != null" >
        insert_user_id = #{insertUserId,jdbcType=VARCHAR},
      </if>
      <if test="insertTime != null" >
        insert_time = #{insertTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where type_code = #{typeCode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="net.dlyt.qyds.common.dto.ErpGoodsType" >
    update public.erp_goods_type
    set top_type_code = #{topTypeCode,jdbcType=VARCHAR},
      top_type_name_en = #{topTypeNameEn,jdbcType=VARCHAR},
      top_type_name_cn = #{topTypeNameCn,jdbcType=VARCHAR},
      type_name_en = #{typeNameEn,jdbcType=VARCHAR},
      type_name_cn = #{typeNameCn,jdbcType=VARCHAR},
      comment = #{comment,jdbcType=VARCHAR},
      deleted = #{deleted,jdbcType=VARCHAR},
      update_user_id = #{updateUserId,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      insert_user_id = #{insertUserId,jdbcType=VARCHAR},
      insert_time = #{insertTime,jdbcType=TIMESTAMP}
    where type_code = #{typeCode,jdbcType=VARCHAR}
  </update>
</mapper>