<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.dlyt.qyds.dao.ErpStoreMapper" >
  <resultMap id="BaseResultMap" type="net.dlyt.qyds.common.dto.ErpStore" >
    <id column="store_code" property="storeCode" jdbcType="VARCHAR" />
    <result column="store_name_en" property="storeNameEn" jdbcType="VARCHAR" />
    <result column="store_name_cn" property="storeNameCn" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="comment" property="comment" jdbcType="VARCHAR" />
    <result column="deleted" property="deleted" jdbcType="VARCHAR" />
    <result column="update_user_id" property="updateUserId" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="insert_user_id" property="insertUserId" jdbcType="VARCHAR" />
    <result column="insert_time" property="insertTime" jdbcType="TIMESTAMP" />
    <result column="province_code" property="provinceCode" jdbcType="VARCHAR" />
    <result column="city_code" property="cityCode" jdbcType="VARCHAR" />
    <result column="district_code" property="districtCode" jdbcType="VARCHAR" />
    <result column="province_name" property="provinceName" jdbcType="VARCHAR" />
    <result column="city_name" property="cityName" jdbcType="VARCHAR" />
    <result column="district_name" property="districtName" jdbcType="VARCHAR" />
    <result column="bank_only" property="bankOnly" jdbcType="VARCHAR" />
    <result column="operator" property="operator" jdbcType="VARCHAR" />
    <result column="storeid" property="storeid" jdbcType="VARCHAR" />
    <result column="storesubid" property="storesubid" jdbcType="VARCHAR" />
    <result column="mchid" property="mchid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    store_code, store_name_en, store_name_cn, address, phone, comment, deleted, update_user_id, 
    update_time, insert_user_id, insert_time, province_code, city_code, district_code, 
    province_name, city_name, district_name, bank_only, operator, storeid, storesubid,mchid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from public.erp_store
    where store_code = #{storeCode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from public.erp_store
    where store_code = #{storeCode,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="net.dlyt.qyds.common.dto.ErpStore" >
    insert into public.erp_store (store_code, store_name_en, store_name_cn, 
      address, phone, comment, 
      deleted, update_user_id, update_time, 
      insert_user_id, insert_time, province_code, 
      city_code, district_code, province_name, 
      city_name, district_name, bank_only, 
      operator, storeid, storesubid,mchid
      )
    values (#{storeCode,jdbcType=VARCHAR}, #{storeNameEn,jdbcType=VARCHAR}, #{storeNameCn,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{comment,jdbcType=VARCHAR}, 
      #{deleted,jdbcType=VARCHAR}, #{updateUserId,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{insertUserId,jdbcType=VARCHAR}, #{insertTime,jdbcType=TIMESTAMP}, #{provinceCode,jdbcType=VARCHAR}, 
      #{cityCode,jdbcType=VARCHAR}, #{districtCode,jdbcType=VARCHAR}, #{provinceName,jdbcType=VARCHAR}, 
      #{cityName,jdbcType=VARCHAR}, #{districtName,jdbcType=VARCHAR}, #{bankOnly,jdbcType=VARCHAR}, 
      #{operator,jdbcType=VARCHAR}, #{storeid,jdbcType=VARCHAR}, #{storesubid,jdbcType=VARCHAR},#{mchid,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="net.dlyt.qyds.common.dto.ErpStore" >
    insert into public.erp_store
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="storeCode != null" >
        store_code,
      </if>
      <if test="storeNameEn != null" >
        store_name_en,
      </if>
      <if test="storeNameCn != null" >
        store_name_cn,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="comment != null" >
        comment,
      </if>
      <if test="deleted != null" >
        deleted,
      </if>
      <if test="updateUserId != null" >
        update_user_id,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="insertUserId != null" >
        insert_user_id,
      </if>
      <if test="insertTime != null" >
        insert_time,
      </if>
      <if test="provinceCode != null" >
        province_code,
      </if>
      <if test="cityCode != null" >
        city_code,
      </if>
      <if test="districtCode != null" >
        district_code,
      </if>
      <if test="provinceName != null" >
        province_name,
      </if>
      <if test="cityName != null" >
        city_name,
      </if>
      <if test="districtName != null" >
        district_name,
      </if>
      <if test="bankOnly != null" >
        bank_only,
      </if>
      <if test="operator != null" >
        operator,
      </if>
      <if test="storeid != null" >
        storeid,
      </if>
      <if test="storesubid != null" >
        storesubid,
      </if>
      <if test="mchid != null" >
        mchid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="storeCode != null" >
        #{storeCode,jdbcType=VARCHAR},
      </if>
      <if test="storeNameEn != null" >
        #{storeNameEn,jdbcType=VARCHAR},
      </if>
      <if test="storeNameCn != null" >
        #{storeNameCn,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="comment != null" >
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null" >
        #{deleted,jdbcType=VARCHAR},
      </if>
      <if test="updateUserId != null" >
        #{updateUserId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="insertUserId != null" >
        #{insertUserId,jdbcType=VARCHAR},
      </if>
      <if test="insertTime != null" >
        #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="provinceCode != null" >
        #{provinceCode,jdbcType=VARCHAR},
      </if>
      <if test="cityCode != null" >
        #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="districtCode != null" >
        #{districtCode,jdbcType=VARCHAR},
      </if>
      <if test="provinceName != null" >
        #{provinceName,jdbcType=VARCHAR},
      </if>
      <if test="cityName != null" >
        #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="districtName != null" >
        #{districtName,jdbcType=VARCHAR},
      </if>
      <if test="bankOnly != null" >
        #{bankOnly,jdbcType=VARCHAR},
      </if>
      <if test="operator != null" >
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="storeid != null" >
        #{storeid,jdbcType=VARCHAR},
      </if>
      <if test="storesubid != null" >
        #{storesubid,jdbcType=VARCHAR},
      </if>
      <if test="mchid != null" >
        #{mchid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="net.dlyt.qyds.common.dto.ErpStore" >
    update public.erp_store
    <set >
      <if test="storeNameEn != null" >
        store_name_en = #{storeNameEn,jdbcType=VARCHAR},
      </if>
      <if test="storeNameCn != null" >
        store_name_cn = #{storeNameCn,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="comment != null" >
        comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null" >
        deleted = #{deleted,jdbcType=VARCHAR},
      </if>
      <if test="updateUserId != null" >
        update_user_id = #{updateUserId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="insertUserId != null" >
        insert_user_id = #{insertUserId,jdbcType=VARCHAR},
      </if>
      <if test="insertTime != null" >
        insert_time = #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="provinceCode != null" >
        province_code = #{provinceCode,jdbcType=VARCHAR},
      </if>
      <if test="cityCode != null" >
        city_code = #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="districtCode != null" >
        district_code = #{districtCode,jdbcType=VARCHAR},
      </if>
      <if test="provinceName != null" >
        province_name = #{provinceName,jdbcType=VARCHAR},
      </if>
      <if test="cityName != null" >
        city_name = #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="districtName != null" >
        district_name = #{districtName,jdbcType=VARCHAR},
      </if>
      <if test="bankOnly != null" >
        bank_only = #{bankOnly,jdbcType=VARCHAR},
      </if>
      <if test="operator != null" >
        operator = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="storeid != null" >
        storeid = #{storeid,jdbcType=VARCHAR},
      </if>
      <if test="storesubid != null" >
        storesubid = #{storesubid,jdbcType=VARCHAR},
      </if>
    </set>
    where store_code = #{storeCode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="net.dlyt.qyds.common.dto.ErpStore" >
    update public.erp_store
    set store_name_en = #{storeNameEn,jdbcType=VARCHAR},
      store_name_cn = #{storeNameCn,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      comment = #{comment,jdbcType=VARCHAR},
      deleted = #{deleted,jdbcType=VARCHAR},
      update_user_id = #{updateUserId,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      insert_user_id = #{insertUserId,jdbcType=VARCHAR},
      insert_time = #{insertTime,jdbcType=TIMESTAMP},
      province_code = #{provinceCode,jdbcType=VARCHAR},
      city_code = #{cityCode,jdbcType=VARCHAR},
      district_code = #{districtCode,jdbcType=VARCHAR},
      province_name = #{provinceName,jdbcType=VARCHAR},
      city_name = #{cityName,jdbcType=VARCHAR},
      district_name = #{districtName,jdbcType=VARCHAR},
      bank_only = #{bankOnly,jdbcType=VARCHAR},
      operator = #{operator,jdbcType=VARCHAR},
      storeid = #{storeid,jdbcType=VARCHAR},
      storesubid = #{storesubid,jdbcType=VARCHAR}
    where store_code = #{storeCode,jdbcType=VARCHAR}
  </update>
</mapper>