<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.dlyt.qyds.dao.GdsBrandMapper" >
  <resultMap id="BaseResultMap" type="net.dlyt.qyds.common.dto.GdsBrand" >
    <id column="brand_id" property="brandId" jdbcType="VARCHAR" />
    <result column="shop_id" property="shopId" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="brand_code" property="brandCode" jdbcType="VARCHAR" />
    <result column="erp_brand_code" property="erpBrandCode" jdbcType="VARCHAR" />
    <result column="brand_name" property="brandName" jdbcType="VARCHAR" />
    <result column="logo_url" property="logoUrl" jdbcType="VARCHAR" />
    <result column="comment" property="comment" jdbcType="VARCHAR" />
    <result column="introduce_html" property="introduceHtml" jdbcType="VARCHAR" />
    <result column="deleted" property="deleted" jdbcType="VARCHAR" />
    <result column="update_user_id" property="updateUserId" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="insert_user_id" property="insertUserId" jdbcType="VARCHAR" />
    <result column="insert_time" property="insertTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    brand_id, shop_id, type, brand_code, erp_brand_code, brand_name, logo_url, comment, 
    introduce_html, deleted, update_user_id, update_time, insert_user_id, insert_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from public.gds_brand
    where brand_id = #{brandId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from public.gds_brand
    where brand_id = #{brandId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="net.dlyt.qyds.common.dto.GdsBrand" >
    insert into public.gds_brand (brand_id, shop_id, type, 
      brand_code, erp_brand_code, brand_name, 
      logo_url, comment, introduce_html, 
      deleted, update_user_id, update_time, 
      insert_user_id, insert_time)
    values (#{brandId,jdbcType=VARCHAR}, #{shopId,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{brandCode,jdbcType=VARCHAR}, #{erpBrandCode,jdbcType=VARCHAR}, #{brandName,jdbcType=VARCHAR}, 
      #{logoUrl,jdbcType=VARCHAR}, #{comment,jdbcType=VARCHAR}, #{introduceHtml,jdbcType=VARCHAR}, 
      #{deleted,jdbcType=VARCHAR}, #{updateUserId,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{insertUserId,jdbcType=VARCHAR}, #{insertTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="net.dlyt.qyds.common.dto.GdsBrand" >
    insert into public.gds_brand
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="brandId != null" >
        brand_id,
      </if>
      <if test="shopId != null" >
        shop_id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="brandCode != null" >
        brand_code,
      </if>
      <if test="erpBrandCode != null" >
        erp_brand_code,
      </if>
      <if test="brandName != null" >
        brand_name,
      </if>
      <if test="logoUrl != null" >
        logo_url,
      </if>
      <if test="comment != null" >
        comment,
      </if>
      <if test="introduceHtml != null" >
        introduce_html,
      </if>
      <if test="deleted != null" >
        deleted,
      </if>
      <if test="updateUserId != null" >
        update_user_id,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="insertUserId != null" >
        insert_user_id,
      </if>
      <if test="insertTime != null" >
        insert_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="brandId != null" >
        #{brandId,jdbcType=VARCHAR},
      </if>
      <if test="shopId != null" >
        #{shopId,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="brandCode != null" >
        #{brandCode,jdbcType=VARCHAR},
      </if>
      <if test="erpBrandCode != null" >
        #{erpBrandCode,jdbcType=VARCHAR},
      </if>
      <if test="brandName != null" >
        #{brandName,jdbcType=VARCHAR},
      </if>
      <if test="logoUrl != null" >
        #{logoUrl,jdbcType=VARCHAR},
      </if>
      <if test="comment != null" >
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="introduceHtml != null" >
        #{introduceHtml,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null" >
        #{deleted,jdbcType=VARCHAR},
      </if>
      <if test="updateUserId != null" >
        #{updateUserId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="insertUserId != null" >
        #{insertUserId,jdbcType=VARCHAR},
      </if>
      <if test="insertTime != null" >
        #{insertTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="net.dlyt.qyds.common.dto.GdsBrand" >
    update public.gds_brand
    <set >
      <if test="shopId != null" >
        shop_id = #{shopId,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="brandCode != null" >
        brand_code = #{brandCode,jdbcType=VARCHAR},
      </if>
      <if test="erpBrandCode != null" >
        erp_brand_code = #{erpBrandCode,jdbcType=VARCHAR},
      </if>
      <if test="brandName != null" >
        brand_name = #{brandName,jdbcType=VARCHAR},
      </if>
      <if test="logoUrl != null" >
        logo_url = #{logoUrl,jdbcType=VARCHAR},
      </if>
      <if test="comment != null" >
        comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="introduceHtml != null" >
        introduce_html = #{introduceHtml,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null" >
        deleted = #{deleted,jdbcType=VARCHAR},
      </if>
      <if test="updateUserId != null" >
        update_user_id = #{updateUserId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="insertUserId != null" >
        insert_user_id = #{insertUserId,jdbcType=VARCHAR},
      </if>
      <if test="insertTime != null" >
        insert_time = #{insertTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where brand_id = #{brandId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="net.dlyt.qyds.common.dto.GdsBrand" >
    update public.gds_brand
    set shop_id = #{shopId,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      brand_code = #{brandCode,jdbcType=VARCHAR},
      erp_brand_code = #{erpBrandCode,jdbcType=VARCHAR},
      brand_name = #{brandName,jdbcType=VARCHAR},
      logo_url = #{logoUrl,jdbcType=VARCHAR},
      comment = #{comment,jdbcType=VARCHAR},
      introduce_html = #{introduceHtml,jdbcType=VARCHAR},
      deleted = #{deleted,jdbcType=VARCHAR},
      update_user_id = #{updateUserId,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      insert_user_id = #{insertUserId,jdbcType=VARCHAR},
      insert_time = #{insertTime,jdbcType=TIMESTAMP}
    where brand_id = #{brandId,jdbcType=VARCHAR}
  </update>
</mapper>