<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.dlyt.qyds.dao.GdsTypePropertyMapper" >
  <resultMap id="BaseResultMap" type="net.dlyt.qyds.common.dto.GdsTypeProperty" >
    <id column="goods_type_property_id" property="goodsTypePropertyId" jdbcType="VARCHAR" />
    <result column="goods_type_id" property="goodsTypeId" jdbcType="VARCHAR" />
    <result column="property_code" property="propertyCode" jdbcType="VARCHAR" />
    <result column="value_code" property="valueCode" jdbcType="VARCHAR" />
    <result column="value_name" property="valueName" jdbcType="VARCHAR" />
    <result column="comment" property="comment" jdbcType="VARCHAR" />
    <result column="deleted" property="deleted" jdbcType="VARCHAR" />
    <result column="update_user_id" property="updateUserId" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="insert_user_id" property="insertUserId" jdbcType="VARCHAR" />
    <result column="insert_time" property="insertTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    goods_type_property_id, goods_type_id, property_code, value_code, value_name, comment, 
    deleted, update_user_id, update_time, insert_user_id, insert_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from public.gds_type_property
    where goods_type_property_id = #{goodsTypePropertyId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from public.gds_type_property
    where goods_type_property_id = #{goodsTypePropertyId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="net.dlyt.qyds.common.dto.GdsTypeProperty" >
    insert into public.gds_type_property (goods_type_property_id, goods_type_id, 
      property_code, value_code, value_name, 
      comment, deleted, update_user_id, 
      update_time, insert_user_id, insert_time
      )
    values (#{goodsTypePropertyId,jdbcType=VARCHAR}, #{goodsTypeId,jdbcType=VARCHAR}, 
      #{propertyCode,jdbcType=VARCHAR}, #{valueCode,jdbcType=VARCHAR}, #{valueName,jdbcType=VARCHAR}, 
      #{comment,jdbcType=VARCHAR}, #{deleted,jdbcType=VARCHAR}, #{updateUserId,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{insertUserId,jdbcType=VARCHAR}, #{insertTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="net.dlyt.qyds.common.dto.GdsTypeProperty" >
    insert into public.gds_type_property
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="goodsTypePropertyId != null" >
        goods_type_property_id,
      </if>
      <if test="goodsTypeId != null" >
        goods_type_id,
      </if>
      <if test="propertyCode != null" >
        property_code,
      </if>
      <if test="valueCode != null" >
        value_code,
      </if>
      <if test="valueName != null" >
        value_name,
      </if>
      <if test="comment != null" >
        comment,
      </if>
      <if test="deleted != null" >
        deleted,
      </if>
      <if test="updateUserId != null" >
        update_user_id,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="insertUserId != null" >
        insert_user_id,
      </if>
      <if test="insertTime != null" >
        insert_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="goodsTypePropertyId != null" >
        #{goodsTypePropertyId,jdbcType=VARCHAR},
      </if>
      <if test="goodsTypeId != null" >
        #{goodsTypeId,jdbcType=VARCHAR},
      </if>
      <if test="propertyCode != null" >
        #{propertyCode,jdbcType=VARCHAR},
      </if>
      <if test="valueCode != null" >
        #{valueCode,jdbcType=VARCHAR},
      </if>
      <if test="valueName != null" >
        #{valueName,jdbcType=VARCHAR},
      </if>
      <if test="comment != null" >
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null" >
        #{deleted,jdbcType=VARCHAR},
      </if>
      <if test="updateUserId != null" >
        #{updateUserId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="insertUserId != null" >
        #{insertUserId,jdbcType=VARCHAR},
      </if>
      <if test="insertTime != null" >
        #{insertTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="net.dlyt.qyds.common.dto.GdsTypeProperty" >
    update public.gds_type_property
    <set >
      <if test="goodsTypeId != null" >
        goods_type_id = #{goodsTypeId,jdbcType=VARCHAR},
      </if>
      <if test="propertyCode != null" >
        property_code = #{propertyCode,jdbcType=VARCHAR},
      </if>
      <if test="valueCode != null" >
        value_code = #{valueCode,jdbcType=VARCHAR},
      </if>
      <if test="valueName != null" >
        value_name = #{valueName,jdbcType=VARCHAR},
      </if>
      <if test="comment != null" >
        comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null" >
        deleted = #{deleted,jdbcType=VARCHAR},
      </if>
      <if test="updateUserId != null" >
        update_user_id = #{updateUserId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="insertUserId != null" >
        insert_user_id = #{insertUserId,jdbcType=VARCHAR},
      </if>
      <if test="insertTime != null" >
        insert_time = #{insertTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where goods_type_property_id = #{goodsTypePropertyId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="net.dlyt.qyds.common.dto.GdsTypeProperty" >
    update public.gds_type_property
    set goods_type_id = #{goodsTypeId,jdbcType=VARCHAR},
      property_code = #{propertyCode,jdbcType=VARCHAR},
      value_code = #{valueCode,jdbcType=VARCHAR},
      value_name = #{valueName,jdbcType=VARCHAR},
      comment = #{comment,jdbcType=VARCHAR},
      deleted = #{deleted,jdbcType=VARCHAR},
      update_user_id = #{updateUserId,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      insert_user_id = #{insertUserId,jdbcType=VARCHAR},
      insert_time = #{insertTime,jdbcType=TIMESTAMP}
    where goods_type_property_id = #{goodsTypePropertyId,jdbcType=VARCHAR}
  </update>
</mapper>