<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.dlyt.qyds.dao.MmbInvoiceMapper" >
  <resultMap id="BaseResultMap" type="net.dlyt.qyds.common.dto.MmbInvoice" >
    <id column="invoice_id" property="invoiceId" jdbcType="VARCHAR" />
    <result column="member_id" property="memberId" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="SMALLINT" />
    <result column="is_default" property="isDefault" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
    <result column="tax_no" property="taxNo" jdbcType="VARCHAR" />
    <result column="bank" property="bank" jdbcType="VARCHAR" />
    <result column="account_no" property="accountNo" jdbcType="VARCHAR" />
    <result column="deleted" property="deleted" jdbcType="VARCHAR" />
    <result column="update_user_id" property="updateUserId" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="insert_user_id" property="insertUserId" jdbcType="VARCHAR" />
    <result column="insert_time" property="insertTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    invoice_id, member_id, sort, is_default, type, title, address, tel, tax_no, bank, 
    account_no, deleted, update_user_id, update_time, insert_user_id, insert_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from public.mmb_invoice
    where invoice_id = #{invoiceId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from public.mmb_invoice
    where invoice_id = #{invoiceId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="net.dlyt.qyds.common.dto.MmbInvoice" >
    insert into public.mmb_invoice (invoice_id, member_id, sort, 
      is_default, type, title, 
      address, tel, tax_no, 
      bank, account_no, deleted, 
      update_user_id, update_time, insert_user_id, 
      insert_time)
    values (#{invoiceId,jdbcType=VARCHAR}, #{memberId,jdbcType=VARCHAR}, #{sort,jdbcType=SMALLINT}, 
      #{isDefault,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, #{taxNo,jdbcType=VARCHAR}, 
      #{bank,jdbcType=VARCHAR}, #{accountNo,jdbcType=VARCHAR}, #{deleted,jdbcType=VARCHAR}, 
      #{updateUserId,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{insertUserId,jdbcType=VARCHAR}, 
      #{insertTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="net.dlyt.qyds.common.dto.MmbInvoice" >
    insert into public.mmb_invoice
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="invoiceId != null" >
        invoice_id,
      </if>
      <if test="memberId != null" >
        member_id,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="isDefault != null" >
        is_default,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="tel != null" >
        tel,
      </if>
      <if test="taxNo != null" >
        tax_no,
      </if>
      <if test="bank != null" >
        bank,
      </if>
      <if test="accountNo != null" >
        account_no,
      </if>
      <if test="deleted != null" >
        deleted,
      </if>
      <if test="updateUserId != null" >
        update_user_id,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="insertUserId != null" >
        insert_user_id,
      </if>
      <if test="insertTime != null" >
        insert_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="invoiceId != null" >
        #{invoiceId,jdbcType=VARCHAR},
      </if>
      <if test="memberId != null" >
        #{memberId,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=SMALLINT},
      </if>
      <if test="isDefault != null" >
        #{isDefault,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="taxNo != null" >
        #{taxNo,jdbcType=VARCHAR},
      </if>
      <if test="bank != null" >
        #{bank,jdbcType=VARCHAR},
      </if>
      <if test="accountNo != null" >
        #{accountNo,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null" >
        #{deleted,jdbcType=VARCHAR},
      </if>
      <if test="updateUserId != null" >
        #{updateUserId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="insertUserId != null" >
        #{insertUserId,jdbcType=VARCHAR},
      </if>
      <if test="insertTime != null" >
        #{insertTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="net.dlyt.qyds.common.dto.MmbInvoice" >
    update public.mmb_invoice
    <set >
      <if test="memberId != null" >
        member_id = #{memberId,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=SMALLINT},
      </if>
      <if test="isDefault != null" >
        is_default = #{isDefault,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="taxNo != null" >
        tax_no = #{taxNo,jdbcType=VARCHAR},
      </if>
      <if test="bank != null" >
        bank = #{bank,jdbcType=VARCHAR},
      </if>
      <if test="accountNo != null" >
        account_no = #{accountNo,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null" >
        deleted = #{deleted,jdbcType=VARCHAR},
      </if>
      <if test="updateUserId != null" >
        update_user_id = #{updateUserId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="insertUserId != null" >
        insert_user_id = #{insertUserId,jdbcType=VARCHAR},
      </if>
      <if test="insertTime != null" >
        insert_time = #{insertTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where invoice_id = #{invoiceId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="net.dlyt.qyds.common.dto.MmbInvoice" >
    update public.mmb_invoice
    set member_id = #{memberId,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=SMALLINT},
      is_default = #{isDefault,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR},
      tax_no = #{taxNo,jdbcType=VARCHAR},
      bank = #{bank,jdbcType=VARCHAR},
      account_no = #{accountNo,jdbcType=VARCHAR},
      deleted = #{deleted,jdbcType=VARCHAR},
      update_user_id = #{updateUserId,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      insert_user_id = #{insertUserId,jdbcType=VARCHAR},
      insert_time = #{insertTime,jdbcType=TIMESTAMP}
    where invoice_id = #{invoiceId,jdbcType=VARCHAR}
  </update>
</mapper>