<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.dlyt.qyds.dao.ShpOrgMapper" >
  <resultMap id="BaseResultMap" type="net.dlyt.qyds.common.dto.ShpOrg" >
    <id column="org_id" property="orgId" jdbcType="VARCHAR" />
    <result column="shop_id" property="shopId" jdbcType="VARCHAR" />
    <result column="orgid_parent" property="orgidParent" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="SMALLINT" />
    <result column="org_type" property="orgType" jdbcType="VARCHAR" />
    <result column="org_code" property="orgCode" jdbcType="VARCHAR" />
    <result column="erp_store_id" property="erpStoreId" jdbcType="VARCHAR" />
    <result column="org_short_name" property="orgShortName" jdbcType="VARCHAR" />
    <result column="org_name" property="orgName" jdbcType="VARCHAR" />
    <result column="comment" property="comment" jdbcType="VARCHAR" />
    <result column="deleted" property="deleted" jdbcType="VARCHAR" />
    <result column="update_user_id" property="updateUserId" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="insert_user_id" property="insertUserId" jdbcType="VARCHAR" />
    <result column="insert_time" property="insertTime" jdbcType="TIMESTAMP" />
    <result column="operate" property="operate" jdbcType="VARCHAR" />
    <result column="storeid" property="storeid" jdbcType="VARCHAR" />
    <result column="storesubid" property="storesubid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    org_id, shop_id, orgid_parent, sort, org_type, org_code, erp_store_id, org_short_name, 
    org_name, comment, deleted, update_user_id, update_time, insert_user_id, insert_time, 
    operate, storeid, storesubid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from public.shp_org
    where org_id = #{orgId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from public.shp_org
    where org_id = #{orgId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="net.dlyt.qyds.common.dto.ShpOrg" >
    insert into public.shp_org (org_id, shop_id, orgid_parent, 
      sort, org_type, org_code, 
      erp_store_id, org_short_name, org_name, 
      comment, deleted, update_user_id, 
      update_time, insert_user_id, insert_time, 
      operate, storeid, storesubid
      )
    values (#{orgId,jdbcType=VARCHAR}, #{shopId,jdbcType=VARCHAR}, #{orgidParent,jdbcType=VARCHAR}, 
      #{sort,jdbcType=SMALLINT}, #{orgType,jdbcType=VARCHAR}, #{orgCode,jdbcType=VARCHAR}, 
      #{erpStoreId,jdbcType=VARCHAR}, #{orgShortName,jdbcType=VARCHAR}, #{orgName,jdbcType=VARCHAR}, 
      #{comment,jdbcType=VARCHAR}, #{deleted,jdbcType=VARCHAR}, #{updateUserId,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{insertUserId,jdbcType=VARCHAR}, #{insertTime,jdbcType=TIMESTAMP}, 
      #{operate,jdbcType=VARCHAR}, #{storeid,jdbcType=VARCHAR}, #{storesubid,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="net.dlyt.qyds.common.dto.ShpOrg" >
    insert into public.shp_org
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orgId != null" >
        org_id,
      </if>
      <if test="shopId != null" >
        shop_id,
      </if>
      <if test="orgidParent != null" >
        orgid_parent,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="orgType != null" >
        org_type,
      </if>
      <if test="orgCode != null" >
        org_code,
      </if>
      <if test="erpStoreId != null" >
        erp_store_id,
      </if>
      <if test="orgShortName != null" >
        org_short_name,
      </if>
      <if test="orgName != null" >
        org_name,
      </if>
      <if test="comment != null" >
        comment,
      </if>
      <if test="deleted != null" >
        deleted,
      </if>
      <if test="updateUserId != null" >
        update_user_id,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="insertUserId != null" >
        insert_user_id,
      </if>
      <if test="insertTime != null" >
        insert_time,
      </if>
      <if test="operate != null" >
        operate,
      </if>
      <if test="storeid != null" >
        storeid,
      </if>
      <if test="storesubid != null" >
        storesubid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orgId != null" >
        #{orgId,jdbcType=VARCHAR},
      </if>
      <if test="shopId != null" >
        #{shopId,jdbcType=VARCHAR},
      </if>
      <if test="orgidParent != null" >
        #{orgidParent,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=SMALLINT},
      </if>
      <if test="orgType != null" >
        #{orgType,jdbcType=VARCHAR},
      </if>
      <if test="orgCode != null" >
        #{orgCode,jdbcType=VARCHAR},
      </if>
      <if test="erpStoreId != null" >
        #{erpStoreId,jdbcType=VARCHAR},
      </if>
      <if test="orgShortName != null" >
        #{orgShortName,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null" >
        #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="comment != null" >
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null" >
        #{deleted,jdbcType=VARCHAR},
      </if>
      <if test="updateUserId != null" >
        #{updateUserId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="insertUserId != null" >
        #{insertUserId,jdbcType=VARCHAR},
      </if>
      <if test="insertTime != null" >
        #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operate != null" >
        #{operate,jdbcType=VARCHAR},
      </if>
      <if test="storeid != null" >
        #{storeid,jdbcType=VARCHAR},
      </if>
      <if test="storesubid != null" >
        #{storesubid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="net.dlyt.qyds.common.dto.ShpOrg" >
    update public.shp_org
    <set >
      <if test="shopId != null" >
        shop_id = #{shopId,jdbcType=VARCHAR},
      </if>
      <if test="orgidParent != null" >
        orgid_parent = #{orgidParent,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=SMALLINT},
      </if>
      <if test="orgType != null" >
        org_type = #{orgType,jdbcType=VARCHAR},
      </if>
      <if test="orgCode != null" >
        org_code = #{orgCode,jdbcType=VARCHAR},
      </if>
      <if test="erpStoreId != null" >
        erp_store_id = #{erpStoreId,jdbcType=VARCHAR},
      </if>
      <if test="orgShortName != null" >
        org_short_name = #{orgShortName,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null" >
        org_name = #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="comment != null" >
        comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null" >
        deleted = #{deleted,jdbcType=VARCHAR},
      </if>
      <if test="updateUserId != null" >
        update_user_id = #{updateUserId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="insertUserId != null" >
        insert_user_id = #{insertUserId,jdbcType=VARCHAR},
      </if>
      <if test="insertTime != null" >
        insert_time = #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operate != null" >
        operate = #{operate,jdbcType=VARCHAR},
      </if>
      <if test="storeid != null" >
        storeid = #{storeid,jdbcType=VARCHAR},
      </if>
      <if test="storesubid != null" >
        storesubid = #{storesubid,jdbcType=VARCHAR},
      </if>
    </set>
    where org_id = #{orgId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="net.dlyt.qyds.common.dto.ShpOrg" >
    update public.shp_org
    set shop_id = #{shopId,jdbcType=VARCHAR},
      orgid_parent = #{orgidParent,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=SMALLINT},
      org_type = #{orgType,jdbcType=VARCHAR},
      org_code = #{orgCode,jdbcType=VARCHAR},
      erp_store_id = #{erpStoreId,jdbcType=VARCHAR},
      org_short_name = #{orgShortName,jdbcType=VARCHAR},
      org_name = #{orgName,jdbcType=VARCHAR},
      comment = #{comment,jdbcType=VARCHAR},
      deleted = #{deleted,jdbcType=VARCHAR},
      update_user_id = #{updateUserId,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      insert_user_id = #{insertUserId,jdbcType=VARCHAR},
      insert_time = #{insertTime,jdbcType=TIMESTAMP},
      operate = #{operate,jdbcType=VARCHAR},
      storeid = #{storeid,jdbcType=VARCHAR},
      storesubid = #{storesubid,jdbcType=VARCHAR}
    where org_id = #{orgId,jdbcType=VARCHAR}
  </update>
</mapper>