<div class="container-fluid">
    <div class="col-xs-12" style="font-size:13px;background:#fff;">
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-12">
                <span style="margin-left: 5px;">问题描述</span>
            </div>
            <div class="col-md-12">
                <textarea placeholder="请在此描述详细问题" rows="10" style="width: 95%;margin:10px 15px;resize: none;" ng-model="refundsInfo.applyComment"></textarea>
            </div>
            <div class="col-md-12" style="text-align: center;">
                <button class="btn btn-default btn-sm" style="margin:20px 0;" ng-click="applyRefund()">
                    申请退款
                </button>
                <button class="btn btn-default btn-sm" style="margin:20px 0;" ng-click="goBack()">
                    取消
                </button>
            </div>
        </div>

    </div>
</div>