<div class="container-fluid" ng-controller="headerCtrl" style="padding:0 0 12px 0;margin:0;border-bottom: 1px solid #C8C8C8;">
    <div class="col-xs-12">
        <!--navbar-fixed-top-->
        <nav class="navbar navbar-default" role="navigation" style="background:#ffffff;border:0;">
            <div class="navbar-header row" style="overflow: hidden">
                <button type="button" class="navbar-toggle leftMenu" style="margin-right:10px;float:left;">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <div class="visible-xs" style="margin:0;padding: 10px;float: right">
                    <img src="images/header_logo.png" alt="dealuna" height="32px" ng-click="goHomepage()">
                </div>
            </div>
            <div class="collapse navbar-collapse row" collapse="!navbarCollapsed" style="padding:0;margin-top:10px;" id="header-btnList">
                <div class="hidden-xs col-xs-4 col-md-4 rightTopMenu" style="text-align:center;">
                    <span ng-click="goStoreList()" style="cursor: pointer"><a href="javascript:void(0);" style="font-size:12px;">门店信息</a></span>&nbsp;&nbsp;<span style="cursor: pointer" ng-click="contactUs()"><a href="javascript:void(0);" style="font-size:12px;">联系我们</a></span>
                    <br/>
                    <!--<span style="font-size:12px;" ng-click="msTest()">{{deliverInfo}}</span>-->
                    <span style="font-size:12px;color:#CC0001;font-family:Microsoft YaHei">{{deliverInfo}}</span>
                </div>
                <div class="hidden-xs col-xs-4 col-sm-3 col-md-4" style="text-align:center;">
                    <div class="table" style="border:0">
                        <tr>
                            <img src="images/header_logo.png" alt="dealuna" height="32px" ng-click="goHomepage()" style="cursor: pointer">
                        </tr>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-5 col-md-4" style="text-align:center;">
                    <table class="hidden-xs table table-condensed rightTopMenu" style="border:0;font-size:10px;">
                        <tr style="border:0;">
                            <td ng-if="!hasLogon" style="border:0;padding:0;margin:0;" ng-click="goLogin()"><small><a><i class="glyphicon glyphicon-log-in" style="margin-right:5px;"></i><span style="font-size:12px;">登录/注册</span></a></small></td>
                            <td ng-if="hasLogon" style="border:0;padding:0;margin:0;" ng-click="logout()"><small><a><i class="glyphicon glyphicon-log-out" style="margin-right:2px;"></i><span style="font-size:12px;">退出登录</span></a></small></td>
                            <td style="border:0;padding:0;margin:0;" ng-click="goBag()"><a><i class="glyphicon glyphicon-th" ng-model="mmbShopCountData"></i>
                                <span style="font-size:12px;">购物袋</span>
                                <!--<span style="display:inline-block;margin-left:2px;color:#ff4200;">-->
                                <!--{{!isNaN(mmbShopCountData)?0:mmbShopCountData}}-->
                                <!--</span>-->
                            </a>
                            </td>
                            <td style="border:0;padding:0;margin:0;" ng-click="goFavorite()"><a ng-class="{true: 'danger', false: ''}[favoriteClassTag]" ><i class="glyphicon glyphicon-heart" ng-model="favoriteCountData" style=""></i>
                                <span style="font-size:12px;">心愿单</span>
                                <!--<span style="display:inline-block;margin-left:2px;color:#ff4200;">-->
                                <!--{{!isNaN(favoriteCountData)?0:favoriteCountData}}-->
                                <!--</span>-->
                            </a>
                            </td>
                            <td style="border:0;padding:0;margin:0;" ng-click="goPersonalHome()"><a><i class="glyphicon glyphicon-user" style="margin-right:2px;"></i><span style="font-size:12px;">个人中心</span></a></td>
                        </tr>
                    </table>
                </div>

                <div class="deployMenu" style="margin:0;color:#333;display:none;background-color: #feffff;">
                    <div class="menu_personal" style="border-top:1px solid #cccdce;padding:15px 10px;font-size:16px;cursor:pointer;">
                        个人中心
                    </div>
                    <div class="menu_homepage" style="border-top:1px solid #cccdce;padding:15px 10px;font-size:16px;cursor:pointer;">
                        首页
                    </div>
                    <div class="menu_otherpage" ng-repeat="header in headerData"
                         style="border-top:1px solid #cccdce;padding:15px 10px;font-size:16px;cursor:pointer;">
                        <input type="hidden" class="itemType" value="{{header.itemType}}">
                        <input type="hidden" class="itemTypeVal" value="{{header.itemTypeVal}}">
                        <input type="hidden" class="cmsId" value="{{header.cmsId}}">
                        <input type="hidden" class="brandFlg" value="0">
                        {{header.title}}
                    </div>
                    <div class="menu_otherpage" style="border-top:1px solid #cccdce;padding:15px 10px;font-size:16px;cursor:pointer;">

                        <input type="hidden" class="itemType" value="42">
                        <input type="hidden" class="itemTypeVal" value="{{indexGdsBrandTypeData.goodsTypeId}}">
                        <input type="hidden" class="cmsId" value="{{header.cmsIdindexGdsBrandTypeData.cmsId}}">
                        <input type="hidden" class="brandFlg" value="1">

                        {{indexGdsBrandTypeData.goodsTypeNameCn}}
                    </div>
                    <div class='menu_magazine' style="border-top:1px solid #cccdce;padding:15px 10px;font-size:16px;cursor:pointer;">
                        时尚在线
                    </div>
                    <div class='menu_sale' style="border-top:1px solid #cccdce;padding:15px 10px;font-size:16px;cursor:pointer;">
                        <span style="color: #CC0001;">SALE</span>
                    </div>
                    <div class='menu_login' ng-if="!hasLogon" style="border-top:1px solid #cccdce;padding:15px 10px;font-size:16px;cursor:pointer;">
                        登录
                    </div>
                    <div class='menu_out' ng-if="hasLogon" style="border-top:1px solid #cccdce;padding:15px 10px;font-size:16px;cursor:pointer;">
                        退出登录
                    </div>
                </div>

                <!--<ul class="bg_gray nav navbar-nav navbar-right visible-xs" style="margin:0;color:#333;">-->

                    <!--<li ng-click="goPersonalHome()" style="padding:1px 0;">-->
                        <!--<div style="margin:0 30px;"><h6>个人中心</h6></div>-->
                    <!--</li>-->
                    <!--<li style="border-bottom: 1px solid #dddddd;margin:0 25px;"></li>-->
                    <!--<li ng-click="goHomepage()" style="padding:1px 0;">-->
                        <!--<div style="margin:0 30px;"><h6>首页</h6></div>-->
                    <!--</li>-->
                    <!--&lt;!&ndash;<li ng-click="goGoodsList()" style="padding:1px 0;">&ndash;&gt;-->
                    <!--&lt;!&ndash;<div style="margin:0 30px;"><h6>新品</h6></div>&ndash;&gt;-->
                    <!--&lt;!&ndash;</li>&ndash;&gt;-->
                    <!--<li ng-repeat="header in headerData" ng-click="goOtherPage(header.itemType, header.itemTypeVal,'',header.cmsId)" style="padding:1px 0;">-->
                        <!--<div style="margin:0 30px;"><h6>{{header.title}}</h6></div>-->
                    <!--</li>-->
                    <!--<li ng-click="goOtherPage(42, indexGdsBrandTypeData.goodsTypeId,'',indexGdsBrandTypeData.cmsId)" style="padding:1px 0;">-->
                        <!--<div style="margin:0 30px;"><h6>{{indexGdsBrandTypeData.goodsTypeNameCn}}</h6></div>-->
                    <!--</li>-->
                    <!--<li ng-click="goMagazine()" style="padding:1px 0;">-->
                        <!--<div style="margin:0 30px;"><h6>时尚在线</h6></div>-->
                    <!--</li>-->
                    <!--<li ng-click="goSale()" style="padding:1px 0;">-->
                        <!--<div style="margin:0 30px;"><h6>SALE</h6></div>-->
                    <!--</li>-->
                    <!--<li style="border-bottom: 1px solid #dddddd;margin:0 25px;"></li>-->
                    <!--<li ng-if="!hasLogon">-->
                        <!--<div style="margin:0 30px;" ng-click="goLogin()"><h6>登录</h6></div>-->
                    <!--</li>-->
                    <!--<li ng-if="hasLogon">-->
                        <!--<div style="margin:0 30px;" ng-click="logout()"><h6>退出登录</h6></div>-->
                    <!--</li>-->
                <!--</ul>-->

            </div>
            <div class="row">
                <div class="visible-xs col-xs-12" style="padding:0 10px;margin-top:5px;">
                    <div class="input-group targetTop">
                        <input style="font-size:13px;" type="text" ng-keyup="searchKeyup($event)" class="form-control" placeholder="搜索商品..."  aria-describedby="" ng-model="searchInfo.value">
                    <span class="input-group-btn" ng-click="goProductList()">
                     <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                    </div>
                    <!--<div style="margin-left:25px;text-align:center;letter-spacing:25px;color:#CC0001;margin-top:10px;font-size:14px;font-family:Microsoft YaHei">全场包邮</div>-->
                </div>
                <div class="hidden-xs col-sm-7 col-sm-offset-2 menu--shylock">
                    <ul class="nav navbar-nav menu__list" style="width:100%;">
                        <li class=" menu__item" ng-click="goHomepage()" ng-style="headerStyle" style="text-align: center"><a id="nav_home" class="menu__link" href="javascript:void(0);">首页</a></li>
                        <!--<li class=" menu__item" ng-click="goGoodsList()"><a id="nav_new" class="menu__link" href="javascript:void(0);">新品</a></li>-->
                        <li ng-repeat="header in headerData" class=" menu__item" ng-click="goOtherPage(header.itemType, header.itemTypeVal,$index,header.cmsId)" ng-style="headerStyle" style="text-align: center"><a id={{'nav_group'+$index}} class="menu__link" href="javascript:void(0);">{{header.title}}</a></li>
                        <li class=" menu__item" ng-click="goOtherPage(42, indexGdsBrandTypeData.goodsTypeId,headerData.length+1,indexGdsBrandTypeData.cmsId)" ng-style="headerStyle" style="text-align: center"><a id={{'nav_group'+(headerData.length+1)}} class="menu__link" href="javascript:void(0);">{{indexGdsBrandTypeData.goodsTypeNameCn}}</a></li>
                        <li class=" menu__item" ng-click="goMagazine()" ng-style="headerStyle" style="text-align: center;"><a id="nav_about" class="menu__link" href="javascript:void(0);" >时尚在线</a></li>
                        <li class=" menu__item" ng-click="goSale()" ng-style="headerStyle" style="text-align: center;"><a id="nav_sale" class="menu__link" href="javascript:void(0);" style="color: #CC0001;" >SALE</a></li>
                        <!--<li class=" menu__item" ng-click="goMagazine()" ng-style="headerStyle" style="text-align: center;"><a id="nav_magazine" class="menu__link" href="javascript:void(0);" >DEALUNA</a></li>-->

                    </ul>
                </div>
                <div class="hidden-xs col-sm-3">
                    <div class="input-group" style="margin-right:10px;">
                        <input style="font-size:13px;" type="text" ng-keyup="searchKeyup($event)" class="form-control" placeholder="搜索商品..." aria-describedby="" ng-model="searchInfo.value">
                    <span class="input-group-btn"  ng-click="goProductList()">
                    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                    </div>
                </div>
            </div>
        </nav>
    </div>

</div>