<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.dlyt.qyds.dao.ext.ErpProduceLineMapperExt" >
  <resultMap id="BaseResultMap" type="net.dlyt.qyds.common.dto.ErpProduceLine" >
    <id column="line_code" property="lineCode" jdbcType="VARCHAR" />
    <result column="line_name_en" property="lineNameEn" jdbcType="VARCHAR" />
    <result column="line_name_cn" property="lineNameCn" jdbcType="VARCHAR" />
    <result column="comment" property="comment" jdbcType="VARCHAR" />
    <result column="deleted" property="deleted" jdbcType="VARCHAR" />
    <result column="update_user_id" property="updateUserId" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="insert_user_id" property="insertUserId" jdbcType="VARCHAR" />
    <result column="insert_time" property="insertTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    line_code, line_name_en, line_name_cn, comment, deleted, update_user_id, update_time, 
    insert_user_id, insert_time
  </sql>
  <select id="selectAll" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from public.erp_produce_line
    ORDER BY line_code
  </select>
  <delete id="deleteAll" >
    delete from public.erp_produce_line
  </delete>
  <update id="updateNoTime" parameterType="net.dlyt.qyds.common.dto.ErpProduceLine" >
    update public.erp_produce_line
    set line_name_en = #{lineNameEn,jdbcType=VARCHAR},
      line_name_cn = #{lineNameCn,jdbcType=VARCHAR},
      comment = #{comment,jdbcType=VARCHAR},
      update_user_id = #{updateUserId,jdbcType=VARCHAR},
      update_time = now()
    where line_code = #{lineCode,jdbcType=VARCHAR}
  </update>
</mapper>